<div class="page-header">
  <h3>
    आपको क्या करना है
  </h3>
  {% if worker.group | int % 3 != 0 %}
    <div id="not_group3">
      इस रिसर्च स्टडी को पूरा करने के लिए आपको 4 चीजें करनी है:
      <br>
      <br>
      <ol>
        <li>
          आपको 1 मिनट का वीडियो दिखाया जाएगा। आपको इस वीडियो को ध्यान से देखना है। यह वीडियो हिंदी में है।
        </li>
        <li>
          अब आपको दूसरा वीडियो दिखाया जाएगा। यह वीडियो भी हिंदी में है। यह वीडियो लगभग 3 मिनट का है। आपको इस
          वीडियो को ध्यान से देखना है।
        </li>
        <li>
          दुसरे वीडियो के बारे में हम आपसे कुछ सवाल पूछेंगे।
        </li>
        <li>
          एक छोटा डेमोग्राफिक सर्वे कम्पलीट करे।
        </li>
      </ol>
    </div>
  {% endif %}

  {% if worker.group | int % 3 == 0 %}
    <div id="is_group3">
      इस रिसर्च स्टडी को पूरा करने के लिए आपको 3 चीजें
      <br>
      <br>
      <ol>
        <li>
          अब आपको एक 3-मिनट का वीडियो दिखाया जाएगा। यह वीडियो हिंदी में है। आपको इस वीडियो को ध्यान से देखना
          है
        </li>
        <li>
          इस वीडियो के बारे में हम आपसे कुछ सवाल पूछेंगे।
        </li>
        <li>
          एक छोटा डेमोग्राफिक सर्वे कम्पलीट करे।
        </li>
      </ol>
    </div>
  {% endif %}

  <br>
  जब आप सभी स्टेप्स को कम्पलीट कर लेंगे तब एक कोड आपको दिया जाएगा। इस कोड को MTurk हिट में सबमिट करें।
  <br>
  <strong>
    एक ही समय में सभी चरणों को पूरा करें। यदि आप रोकते हैं, तो आपको चरण 1 पर वापस भेजा जाएगा।
  </strong>
</div>

{% include "naf/naf-consent.html" %}

<div class="page-header">
  <h3>
    रिसर्च स्टडी में भाग कैसे लें?
  </h3>
  इस स्टडी में भाग लेने के लिए आपको consent form को पढ़ कर अपनी सहमति देनी होगी। Consent form को पढ़ने
  के लिए
  <a id="naf-read-consent-btn">
    <यहाँ क्लिक करे></a>। अगर आप इस स्टडी में भाग लेना चाहते हैं तो consent form में "I agree" बटन को
    सलेक्ट करें। "I agree" बटन को सलेक्ट करने के बाद, आगे के निर्देश नीचे आ जाएंगे।

    <div id="naf-hindi-test-div" style="display: none">
      <br>
      #################################################################################
      <br>
      Consent देने के लिए धन्यवाद। नीचे दिए गए निर्देशों का पालन करें। वीडियो को देखते हुए Earphones का
      इस्तेमाल करें। वीडियो को Fullscreen करके देखें।
      <br>
      <strong>वीडियो को देखते हुए Earphones का इस्तेमाल करें। वीडियो को Fullscreen करके देखें।</strong>
      <br>
      #################################################################################

      {% include "naf/naf-steps.html" %}
    </div>

  </div>
