<div class="page-header">
  <h3>
    आपको क्या करना है
  </h3>
  {% if worker.group | int % 3 != 0 %}
    <div id="not_group3">
      इस रिसर्च स्टडी को पूरा करने के लिए आपको 4 चीजें
      <br>
      <br>
      <ol>
        <li>
          एक वीडियो को ध्यान से देखें. यह वीडियो हिंदी में है।
        </li>
        <li>
          Carefully watch another video. It is 3 minutes long.
        </li>
        <li>
          Answer 4 questions about the 2nd video.
        </li>
        <li>
          एक छोटा डेमोग्राफिक सर्वे कम्पलीट करे।
        </li>
      </ol>
    </div>
  {% endif %}

  {% if worker.group | int % 3 == 0 %}
    <div id="is_group3">
      इस रिसर्च स्टडी को पूरा करने के लिए आपको 3 चीजें
      <br>
      <br>
      <ol>
        <li>
          Carefully watch a 3 minute video.
        </li>
        <li>
          Answer 4 questions about the video watched.
        </li>
        <li>
          एक छोटा डेमोग्राफिक सर्वे कम्पलीट करे।
        </li>
      </ol>
    </div>
  {% endif %}

  <br>
  जब आप सभी स्टेप्स को कम्पलीट कर लेंगे तब एक कोड आपको दिया जाएगा। इस कोड को MTurk हिट में सबमिट करें।
  <br>
  <strong>
    एक ही समय में सभी चरणों को पूरा करें। यदि आप रोकते हैं, तो आपको चरण 1 पर वापस भेजा जाएगा।
  </strong>
</div>

{% include "naf/naf-consent.html" %}

<div class="page-header">
  <h3>
    रिसर्च स्टडी में भाग कैसे लें?
  </h3>
  इस स्टडी में भाग लेने के लिए आपको consent form को पढ़ कर अपनी सहमति देनी होगी। Consent form को पढ़ने
  के लिए
  <a id="naf-read-consent-btn">
    <यहाँ क्लिक करे></a>। अगर आप इस स्टडी में भाग लेना चाहते हैं तो consent form में "I agree" बटन को
    सलेक्ट करें। "I agree" बटन को सलेक्ट करने के बाद, आगे के निर्देश नीचे आ जाएंगे।

    <div id="naf-join-div" style="display: none">
      <br>
      #################################################################################
      <br>
      Consent देने के लिए धन्यवाद। नीचे दिए गए निर्देशों का पालन करें। वीडियो को देखते हुए Earphones का
      इस्तेमाल करें। वीडियो को Fullscreen करके देखें।
      <br>
      <strong>वीडियो को देखते हुए Earphones का इस्तेमाल करें। वीडियो को Fullscreen करके देखें।</strong>
      <br>
      #################################################################################

      {% include "naf/naf-steps.html" %}
    </div>

  </div>
