<div class="page-header">
  <h3>
    इस रिसर्च स्टडी में हिस्सा लेने के लिए आपका स्वागत है
  </h3>
  <p>
    हम लोग यूनिवर्सिटी ऑफ़ वाशिंगटन और कॉर्नेल टेक यूनिवर्सिटी में रिसर्च करते हैं। इस रिसर्च स्टडी में
    हम आपसे कुछ वीडियो पर आपकी प्रतिक्रिया जानना चाहते हैं। कृपया ध्यान दे, इस स्टडी में भाग लेने के लिए
    आपको हिंदी समझ में आना बहुत जरूरी है।
    <strong>If you don’t understand Hindi than you must not participate in the research study</strong>.
    इस स्टडी में भाग लेने के लिए आपके पास हैडफ़ोन और शांत वातावरण होना जरूरी है। कृपया नीचे दिए हुए
    निर्देशों को ध्यान से पढ़ें और उनका पालन करें।
  </p>
</div>

<div class="page-header">
  <h3>
    रिसर्च स्टडी
  </h3>
  <p>
    इस स्टडी को पूरा करने में आपको लगभग 15 मिनट लगेंगे। अगर आपने स्टडी को ठीक से पूरा किया तो आपको 1
    डॉलर मिलेंगे। इस स्टडी में भाग लेने के लिए आपको हिंदी समझ में आना बहुत जरूरी है।
  </p>
  <p>
    अगर आपने निर्देशों का पालन नहीं किया या फिर नकली या झूठे जवाब देने की कोशिश करी तो हम आपको पेमेंट
    नहीं दे पाएंगे और आपको रिसर्च स्टडी से बाहर कर दिया जाएगा।
  </p>

</div>
