<div id="mturkSlideShow">

  <div class="page-header">
    <h3>Video Slide Show</h3>
  </div>

  <div id="videoLoading">
    Delay in loading video. There is a lot of request to watch same video. Please wait...
    <br>
    <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>

    <div id="quote1" class="noshow text-center">
      Displaying quote1
    </div>

    <div id="quote2" class="noshow text-center">
      Showing quote2
    </div>

    <div id="quote3" class="noshow text-center">
      Viewing quote3
    </div>

  </div>

  <div id="videoReady" class="noshow text-center">
    Video is ready.
    <br>
    <br>
    <button
      type="button"
      name="button"
      class="btn btn-primary"
      id="continueToVideo"
      onclick="show_main_video()">Click to Continue</button>
  </div>

  <script type="text/javascript">
    (function (window, document) {
      var num_of_seconds = 10;
      countdown_then_display_quote(1, num_of_seconds);
      countdown_then_display_quote(2, 2 * num_of_seconds);
      countdown_then_display_quote(3, 3 * num_of_seconds);
      display_video_ready(4 * num_of_seconds);

      function countdown_then_display_quote(num, seconds) {
        setTimeout(function () {
          show_quote(num);
        }, seconds * 1000);
      }

      function show_quote(num) {
        $('#quote1').hide();
        $('#quote2').hide();
        $('#quote3').hide();
        $('#quote' + num).show();
      }

      function display_video_ready(seconds) {
        setTimeout(function () {
          $('#videoLoading').hide();
          $('#videoReady').show();
        }, seconds * 1000);
      }

    })(window, document);

    function show_main_video() {
      console.log('Now showing main video');
      $('#videoReady').hide();
    }
  </script>

</div>
