<div class="page-header">
  <h3>
    आपको क्या करना है
  </h3>
  <div>
    इस रिसर्च स्टडी को पूरा करने के लिए आपको 3 चीजें करनी है:
    <br>
    <ol>
      <li>
        आपको 3 मिनट का वीडियो दिखाया जाएगा। आपको इस वीडियो को ध्यान से देखना है। यह वीडियो हिंदी में है।
      </li>
      <li>
        वीडियो के बारे में हम आपसे कुछ सवाल पूछेंगे। आपको इन सवालों के जवाब ईमानदारी से देने हैं।
      </li>
      <li>
        आपको एक छोटा डेमोग्राफिक सर्वे कम्पलीट करना होगा।
      </li>
    </ol>
  </div>

  <br>
  जब आप सभी स्टेप्स को कम्पलीट कर लेंगे तब एक कोड आपको दिया जाएगा। इस कोड को MTurk हिट में सबमिट करें।
  <br>
  <strong>एक ही समय में सभी चरणों को पूरा करें। यदि आप बीच में रुक जाते हैं, तो आपको शुरुआत (स्टेप 1)
    पर भेज दिया जाएगा ।
  </strong>
</div>

{% include "naf/naf-consent.html" %}

<div class="page-header">
  <h3>
    रिसर्च स्टडी में भाग कैसे लें?
  </h3>
  इस स्टडी में भाग लेने के लिए आपको consent form को पढ़ कर अपनी सहमति देनी होगी। Consent form को पढ़ने
  के लिए
  <a id="naf-read-consent-btn">
    <यहाँ क्लिक करे></a>। अगर आप इस स्टडी में भाग लेना चाहते हैं तो consent form में "I agree" बटन को
    सलेक्ट करें। "I agree" बटन को सलेक्ट करने के बाद, आगे के निर्देश नीचे आ जाएंगे।
    <br>
    <div id="naf-hindi-test-div" style="display: none">
      <br>
      #################################################################################
      <br>
      Consent देने के लिए धन्यवाद। नीचे दिए गए निर्देशों का पालन करें। वीडियो को देखते हुए Earphones का
      इस्तेमाल करें। वीडियो को Fullscreen करके देखें।
      <br>
      <strong>वीडियो को देखते हुए Earphones का इस्तेमाल करें। वीडियो को Fullscreen करके देखें।</strong>
      <br>
      #################################################################################

      {% include "naf/naf-steps.html" %}
    </div>

  </div>
