<div
  class="modal fade"
  id="naf-consent-agree-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="screenUnlockModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Consent Form</h4>
      </div>

      <div class="modal-body">
        Researchers can be contacted via Amazon Mechanical Turk.

        <div class="page-header">
          <h3>
            Researchers’ Statement
          </h3>
          We are asking you to participate in a research study. The purpose of this consent form is to give
          you the information you will need to help you decide whether to participate in the study or not.
          Please listen to what I am saying carefully. You may ask questions about the purpose of the
          research, what we ask you to do, the possible risks and benefits, your rights as a volunteer, and
          anything else about the research or this form that is not clear. When we have answered all your
          questions, you can decide if you want to be in the study or not. This process is called “informed
          consent.” We will repeat this information as many times you will like us to repeat.
        </div>

        <div class="page-header">
          <h3>
            PURPOSE OF THE STUDY
          </h3>
          The purpose of this study is to understand your response to videos watched.
        </div>

        <div class="page-header">
          <h3>
            STUDY PROCEDURES
          </h3>
          We will show you three videos one after the other. Each video is less than 5 minutes of length. Once
          you watch each video, you will report how you feel after watching the video and then provide
          feedback to the researcher based on verbal questions asked. You may quit the interview at any time
          for any reason. The time commitment for the study is around 30 minutes. During the course of
          interview, we will not ask you to enter any identifiable information about yourself. We will not ask
          you any questions of a personally sensitive nature. Instead, the questions will ask about your
          familiarity with the video watched. At any time, you may refuse to answer any question or item in
          any test, inventory, questionnaire, or interview for any reason. The interview will be audio
          recorded so that we can analyze your responses later. We will keep the recorded files for two months
          from the date of conducting the interview.
        </div>

        <div class="page-header">
          <h3>
            RISKS, STRESS, OR DISCOMFORT
          </h3>
          Subjects who participate in this study will be asked demographic questions, questions related
          technology, and videos they watched. Breach of confidentiality is a risk to being in the study if it
          happened that your study information, including your audio recording or your responses linked to
          your name were accidentally given to or were taken by someone who should not have it.
        </div>

        <div class="page-header">
          <h3>
            BENEFITS OF THE STUDY
          </h3>
          The study is not designed to benefit you. However, the research will generate knowledge which will
          eventually enable rural communities by futhering the research in low resource environments.

        </div>

        <div class="page-header">
          <h3>
            OTHER INFORMATION
          </h3>
          Taking part in this interview is voluntary. You can stop at any time. Choosing to take part in this
          interview, to not take part, or to withdraw from this interview will involve no penalty and will not
          affect benefits to which you are otherwise entitled. If the findings of the interview are published
          or presented, we will not use your name. If you think you have a medical problem or illness related
          to this research, contact Mturk requester who will you for treatment. If you have any questions,
          please feel free to ask.
        </div>

        <div class="page-header">
          <h3>
            Subject’s statement
          </h3>
          I confirm by saying "I agree" that this study has been explained to me. I confirm that I volunteer
          to take part in this research and that I have had a chance to ask questions. If I have questions
          later about the research, I can the researchers.
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="naf-consent-agreed-btn">I agree</button>
      </div>

    </div>
  </div>

</div>
