<div class="page-header">
  <h3>
    Welcome to Research on Video Feedback
  </h3>
  <p>
    We are researchers at the
    <a href="http://www.washington.edu/" target="_blank">University of Washington</a>
    and
    <a href="https://tech.cornell.edu" target="_blank">Cornell Tech</a>. The goal of this experiment is
    to collect feedback from users after they watch some videos. Please note that
    <strong>you must know Hindi language</strong>
    in order to participate in the study. You should also have access to headphones and a quiet area to
    complete the study. Please read carefully and follow all instructions.
  </p>
</div>

<div class="page-header">
  <h3>
    Experiment
  </h3>
  <p>
    This experiment will take about
    <strong>15 minutes</strong>
    to complete. You will be paid
    <strong>$1</strong>
    at the end of the experiment. You should be
    <strong>able to understand Hindi</strong>
    in order to participate in the experiment.
  </p>
  <p>
    You will be
    <strong>automatically removed</strong>
    from the experiment with
    <strong>no payment</strong>
    if you don't follow instructions or if you provide fake responses when answering questions.
  </p>

</div>
