{% extends "layout.html" %}

{% block title %}
  Research on Video Feedback
{% endblock %}

{% block nav_brand %}
  <a class="navbar-brand" href="#">Research on Video Feedback</a>
{% endblock %}

{% block contents %}
  {% block nav_signin %}{% endblock %}

  <div class="container translate">

    <input type="text" id="qt1" class="noshow" value="{{ quotes[0] }}">
    <input type="text" id="qt2" class="noshow" value="{{ quotes[1] }}">
    <input type="text" id="qt3" class="noshow" value="{{ quotes[2] }}">
    <input type="text" id="qt4" class="noshow" value="{{ quotes[3] }}">
    <input type="text" id="qt5" class="noshow" value="{{ quotes[4] }}">
    <input type="text" id="qt6" class="noshow" value="{{ quotes[5] }}">
    <input type="text" id="qt7" class="noshow" value="{{ quotes[6] }}">
    <input type="text" id="qt8" class="noshow" value="{{ quotes[7] }}">
    <input type="text" id="qt9" class="noshow" value="{{ quotes[8] }}">
    <input type="text" id="qt10" class="noshow" value="{{ quotes[9] }}">

    {% include "naf/naf-begin-instructions.html" %}

    {% include "naf/naf-how-to-join.html" %}

  {% endblock %}
