<div
  class="modal fade"
  id="naf-consent-agree-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="screenUnlockModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Consent Form</h4>
      </div>

      <div class="modal-body">
        Participants must be 18-65 years old to participate in this research.

        <div class="page-header">

          <h3>
            Risks and Benefits
          </h3>

          The experiment may interfere with the normal workings of your device. For instance, you may see
          notification of your facebook usage in the status bar. You may also receive vibration from your
          phone while using Facebook. However, there are no risks to your device or the apps/software already
          installed on your device. If you wish to stop participation at any time during the study, please
          contact the researchers to help you uninstall all softwares and completely unenroll you from the
          study. The primary risks associated with participation in this experiment is that personal data an
          be disclosed. Much of this data is already being collected and stored in systems provided by
          external vendors that were not designed with personal data-sharing policies in mind. We therefore
          conclude that the additional risks of participating in the study are not substantial. However, we
          will take great care to protect and secure all project data including using techniques such as
          encryption, de-identification, etc., as described below. First, we will store the data on secure
          servers that follow industry-standard practices including cryptography to secure the data. In
          addition, all communication with these servers will be via encrypted protocols. Second, we will
          de-identify the data so that accidental release does not immediately identify an individual. With
          respect to benefits, our system may provide you with deeper insights about your time management
          habits and how beneficial an intervention could be to you. However, there may also be no personal
          benefits from your participation in the study. Nonetheless, knowledge received may be of value to
          humanity.
        </div>

        <div class="page-header">
          <h3>
            Taking part is voluntary
          </h3>
          Your participation is voluntary. You are free to stop your participation at any point. Refusal to
          participate or withdrawal of your consent or discontinued participation in the study will not result
          in any penalty or loss of benefits or rights to which you might otherwise be entitled. The Principal
          Investigator may at his/her discretion remove you from the study for a number of reasons. In such an
          event, you will not suffer any penalty or loss of benefits or rights which you might otherwise be
          entitled. It will not affect your current or future relationship with the institution you were
          recruited from.
        </div>

        <div class="page-header">
          <h3>
            Confidentiality
          </h3>
          Your consent form and data will be confidential. Only authorized researchers of the research project
          will have access to the survey data. Results of the survey will be recorded into a computer and then
          destroyed. All data will be kept private in password-protected computers. Data communication with
          installed applications is based on encrypted protocols. When publishing the results, we will not
          include any information that will make it possible to identify you. Because the recruitment of
          participants is facilitated by using email and Internet, the message communicated via Internet could
          be read by a third party due to the nature of Internet technologies. However, the researchers will
          not intentionally disclose any communication contents to any third parties.
        </div>

        <div class="page-header">

          <h3>
            Right to Ask Questions and Contact Information
          </h3>
          If you have questions, please contact the requester through Mturk. If you have any questions or
          concerns regarding your rights as a subject in this study, you may contact the Institutional Review
          Board (IRB) at 607-255-5138 or access their website at http://www.irb.cornell.edu. You may also
          report your concerns or complaints anonymously through Ethicspoint (http://www.ethicspoint.com/) or
          by calling toll free at 1-866-293-3077. Ethicspoint is an independent organization that serves as a
          liaison between the University and the person bringing the complaint so that anonymity can be
          ensured. You will be given a copy of this form to keep for your records if requested.
        </div>

        <div class="page-header">
          <h3>
            Statement of Consent
          </h3>

          <strong>
            I have read the above information, and have received answers to any questions I asked. I consent to
            take part in the study by clicking the "I agree" button.
          </strong>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="naf-consent-agreed-btn">I agree</button>
      </div>

    </div>
  </div>

</div>
