{% extends "layout.html" %}

{% block title %}
  Mturk Facebook Stats
{% endblock %}

{% block contents %}

  <button
    type="button"
    class="btn btn-link btn-lg"
    onclick="window.location.href='/edit-experiment/{{experiment.code}}'">
    <span class="glyphicon glyphicon-triangle-left text-muted"></span>
    <span class="text-muted">
      Back to Experiment
    </span>
  </button>

  <div class="container">

    <div class="page-header">
      <h3>Mturk Facebook Stats
        <br>
        <small>Total:
          {{ mturk_stats | length }}
          log(s)</small>
      </h3>
      <br>
      <em>To sort by multiple columns, hold down shift key and select columns.</em>
    </div>

    <table id="mturk-stats-table" class="table table-striped">

      <thead>
        <tr>
          <th>
            No
          </th>

          <th>
            WorkerID
          </th>

          <th>
            Group
          </th>

          <th>
            DeviceID
          </th>

          <th>
            TotalTime
          </th>

          <th>
            TotalOpens
          </th>

          <th>
            FB Time
          </th>

          <th>
            FB Opens
          </th>

          <th>
            RingerMode
          </th>

          <th>
            CreatedAt
          </th>
        </tr>
      </thead>

      <tbody>
        {% for stat in mturk_stats %}
          <tr>
            <td>
              {{ loop.index }}
            </td>

            <td>
              {{ stat.worker_id }}
            </td>

            <td>
              {{ pairs[stat.worker_id] }}
            </td>

            <td>
              {{ stat.device_id }}
            </td>

            <td>
              {{ stat.total_seconds }}
            </td>

            <td>
              {{ stat.total_opens }}
            </td>

            <td>
              {{ stat.time_spent }}
            </td>

            <td>
              {{ stat.time_open }}
            </td>

            <td>
              {{ stat.ringer_mode }}
            </td>

            <td>
              {{ stat.created_at | nyc | fancydatetime }}
            </td>

          </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
