{% extends "layout.html" %}

{% block title %}
  Mturk Facebook Stats
{% endblock %}

{% block contents %}

  <button
    type="button"
    class="btn btn-link btn-lg"
    onclick="window.location.href='/edit-experiment/{{experiment.code}}'">
    <span class="glyphicon glyphicon-triangle-left text-muted"></span>
    <span class="text-muted">
      Back to Experiment
    </span>
  </button>

  <div class="container">

    <div class="page-header">
      <table id="mturk-stats-table" class="table table-striped">

        <thead>
          <tr>
            <th>
              LocalTime
            </th>

            <th>
              WorkerID
            </th>

            <th>
              Group(now)
            </th>

            <th>
              T.Time
            </th>

            <th>
              T.Opens
            </th>

            <th>
              FBTime
            </th>

            <th>
              FBOpens
            </th>

            <th>
              Ringer
            </th>

            <th>
              MaxMins(now)
            </th>

            <th>
              Max-Opens(now)
            </th>

            <th>
              Treat(now)
            </th>

            <th>
              Followup(now)
            </th>

            <th>
              Logging(now)
            </th>

            <th>
              TimeSpent
              <br>
              List
            </th>

            <th>
              Token
            </th>

          </tr>
        </thead>
      </table>

    </div>

  </div>
{% endblock %}
