{% extends "layout.html" %}

{% block title %}
  Mturk Participants
{% endblock %}

{% block contents %}

  <button
    type="button"
    class="btn btn-link btn-lg"
    onclick="window.location.href='/edit-experiment/{{experiment.code}}'">
    <span class="glyphicon glyphicon-triangle-left text-muted"></span>
    <span class="text-muted">
      Back to Experiment
    </span>
  </button>

  <div class="container">

    <div class="page-header">
      <h3>Mturk Participants
        <br>
        <small>Total:
          {{ mturk_users | length }}
          participant(s)</small>
      </h3>
      <br>
      <em>To sort by multiple columns, hold down shift key and select columns.</em>
    </div>

    <table class="table table-striped" id="mturk-participants-table">
      <thead>
        <tr>
          <th>
            No
          </th>

          <th>
            WorkerID
          </th>

          <th>
            Group
          </th>

          <th>
            InstalledAt
          </th>

          <th>
            App
          </th>

          <th>
            Phone
          </th>

          <th>
            Android
          </th>

          <th>
            Country
          </th>

          <th>
            DeviceID
          </th>

          <th>
            Joined
          </th>

        </tr>
      </thead>

      <tbody>
        {% for user in mturk_users %}
          <tr>

            <td>
              {{ loop.index }}
            </td>

            <td>
              {{ user.worker_id }}
            </td>

            <td>
              {{ pairs[user.worker_id] }}
            </td>

            <td>
              {{ user.last_installed_ms | ms_to_datetime | nyc | fancydatetime }}
            </td>

            <td>
              v{{ user.app_version_code }}
            </td>

            <td>
              {{ user.phone_model }}
            </td>

            <td>
              {{ user.android_version }}
            </td>

            <td>
              {{ user.device_country }}
            </td>

            <td>
              {{ user.device_id }}
            </td>

            <td>
              {{ user.created_at | nyc | fancydatetime }}
            </td>

          </tr>

        {% endfor %}
      </tbody>

    </table>

  </div>
{% endblock %}
