{% extends "layout.html" %}

{% block title %}
  Notif Stats
{% endblock %}

{% block contents %}

  <button
    type="button"
    class="btn btn-link btn-lg"
    onclick="window.location.href='/edit-experiment/{{experiment.code}}'">
    <span class="glyphicon glyphicon-triangle-left text-muted"></span>
    <span class="text-muted">
      Back to Experiment
    </span>
  </button>

  <div class="container">

    {% if experiment.calendar %}

      {% if notif_stats %}
        <div class="page-header">
          <h3>Notification Clicked Stats
            <small>(Last 10)</small>
          </h3>
          <em>To sort by multiple columns, hold down shift key and select columns.</em>
        </div>

        <table class="table table-striped" id="notif-clicked-table">
          <thead>
            <tr>
              <th>
                No
              </th>

              <th>
                Email
              </th>

              <th>
                Gender
              </th>

              <th>
                Code
              </th>

              <th>
                Condition
              </th>

              <th>
                Notification
              </th>

              <th>
                Phone Ringer Mode
              </th>

              <th>
                Notification Time
              </th>

              <th>
                When Clicked
              </th>

              <th>
                Was Dismissed
              </th>

            </tr>
          </thead>

          <tfoot>
            <tr>
              <th>
                No
              </th>

              <th>
                Email
              </th>

              <th>
                Gender
              </th>

              <th>
                Code
              </th>

              <th>
                Condition
              </th>

              <th>
                Notification
              </th>

              <th>
                Phone Ringer Mode
              </th>

              <th>
                Notification Time
              </th>

              <th>
                When Clicked
              </th>

              <th>
                Was Dismissed
              </th>

            </tr>
          </tfoot>

          <tbody>
            {% for stat in notif_stats %}
              <tr>
                <th>
                  {{ loop.index }}
                </th>

                <th>
                  {{ stat.email }}
                </th>

                <th>
                  {{ stat.gender }}
                </th>

                <th>
                  {{ stat.code }}
                </th>

                <th>
                  {{ stat.condition }}
                </th>

                <th>
                  {{ stat.title}}
                  /
                  {{ stat.content }}
                  /
                  {{ stat.app_id }}
                </th>

                <th>
                  {{ stat.ringer_mode }}
                </th>

                <th>
                  {{ stat.time_appeared }}
                </th>

                <th>
                  {{ stat.time_clicked }}
                </th>

                <th>
                  {{ stat.was_dismissed }}
                </th>

              </tr>
            {% endfor %}
          </tbody>

        </table>
      {% else %}
        <div class="page-header">
          <h3>
            There are no stored notification stats.
          </h3>

        </div>
      {% endif %}

    {% else %}

      <div class="page-header">
        <h3>
          Calendar is not activated for this experiment.
        </h3>

      </div>
    {% endif %}

  </div>
{% endblock %}
