{% extends "layout.html" %}

{% block title %}
  Edit Study
{% endblock %}

{% block contents %}

  <button
    type="button"
    class="btn btn-link btn-lg"
    onclick="window.location.href='/edit-experiment/{{experiment.code}}'">
    <span class="glyphicon glyphicon-triangle-left text-muted"></span>
    <span class="text-muted">
      Back to Experiment
    </span>
  </button>

  <div class="container">

    <div class="page-header">
      <h3>Enrolled Participants</h3>
    </div>

    {% if enrolled_users | length > 0 %}
      <p>
        Total participants enrolled:
        {{ enrolled_users | length }}
      </p>
    {% else %}
      <p>
        <em>
          No participant enrolled in this experiment.
        </em>
      </p>
    {% endif %}

    <div class="page-header">
      <h3>Participants Stats
        <small>(Last 10)</small>
      </h3>
      <em>To sort by multiple columns, hold down shift key and select columns.</em>
    </div>

    <table class="table table-striped" id="enrolled-participants-table">
      <thead>
        <tr>
          <th>
            No
          </th>

          <th>
            Email
          </th>

          <th>
            Gender
          </th>

          <th>
            Experiment Group
          </th>

          <th>
            Phone Model
          </th>

          <th>
            Device Country
          </th>

          <th>
            Installed App
          </th>

        </tr>
      </thead>

      <tfoot>
        <tr>
          <th>
            No
          </th>

          <th>
            Email
          </th>

          <th>
            Gender
          </th>

          <th>
            Experiment Group
          </th>

          <th>
            Phone Model
          </th>

          <th>
            Device Country
          </th>

          <th>
            Installed App
          </th>

        </tr>
      </tfoot>

      <tbody>

        {% for user in enrolled_users %}
          <tr>
            <td>
              {{ loop.index }}
            </td>

            <td>
              {{ user.email }}
            </td>

            <td>
              {{ user.gender }}
            </td>

            <td>
              {{ user.condition }}
            </td>

            <td>
              {{ user.phone_model }}
            </td>

            <td>
              {{ user.device_country }}
            </td>

            <td>
              {{ user.last_installed_ms | ms_to_datetime | fancydatetime }}
            </td>

          </tr>

        {% endfor %}
      </tbody>

    </table>

  </div>
{% endblock %}
