.env
.DS_Store
dump.rdb
.idea/
*.pyc
*.csv
*.log
.ftpconfig
.cache/
celerybeat-schedule
uploads/
node_modules/
.imdone/
migrations/
bower_components/
videos/
.tags*

# secret keys
secret_keys.py
omh_keys.py
