{% extends "layout.html" %}

{% block title %}
    Technion Dashboard
{% endblock %}

{% block contents %}
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>No</th>
                <th>Joined</th>
                <th>Email</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Gender</th>
                <th>RescueTime</th>
            </tr>
            </thead>

            <tbody>
            {% for user in technion_users %}
                <tr>
                    <td> {{ loop.index }} </td>
                    <td> {{'-' or user.created_at }} </td>
                    <td> {{ user.email }} </td>
                    <td> {{ user.firstname }} </td>
                    <td> {{ user.lastname }} </td>
                    <td> {{ user.gender }} </td>
                    <td>
                        {% if user.rescuetime_access_token %}
                            <span class="text-primary"> &#10004; </span>
                        {% else %}
                            <span class="text-danger"> &#x2717; </span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
