<div class="page-header">
  <h3>Archived Interventions
    <small>(Last 10)</small>
  </h3>
</div>

<span id='delete-intv-status'></span>
<table class="table table-striped" id="#archived-interventions">
  <tr>
    <th>
      No
    </th>
    <th>
      Start
    </th>
    <th>
      End
    </th>
    <th>
      Frequency
    </th>
    <th>
      Repeat
    </th>
    <th>
      Alarm
    </th>
    <th>
      Created At
    </th>
    {% if not experiment.calendar %}
      <th>
        Intervention
      </th>
    {% endif %}
    <th>
      Notification Message
    </th>
  </tr>

  {% for intv in interventions %}
    <tr>
      <td>
        {{ loop.index }}
        <span onclick="intervention.delete_intv({{ intv }})" class="glyphicon glyphicon-trash text-danger"></span>
      </td>

      <td>
        {{ intv.start | todatetime | nyc | onlyfancydate }}
      </td>

      <td>
        {{ intv.end | todatetime | nyc | onlyfancydate }}
      </td>

      <td>
        {{ intv.every }}
      </td>

      <td>
        {{ intv.repeat }}
      </td>

      <td>
        {% if intv.user_window_mins != ''%}
          {{ intv.user_window_mins }}
          minutes window
        {% else %}
          {{ intv.when | onlyfancytime }}
        {% endif %}
      </td>

      <td>
        {{ intv.created_at | nyc | fancydatetime }}
      </td>

      {% if not experiment.calendar %}
        <td>
          <ol>
            {% set treatments = intv.treatment | str_to_json %}
            {% for treat_id in treatments.values() %}
              {% set resp = treat_id | id_to_text_image %}
              <li>
                {% if resp[0] == 200 %}
                  <img src="{{ resp[1].image_url }}" alt="{{ resp[0].image_name }}" width="25" height="25">
                  <br>
                  {{ resp[1].text }}
                {% else %}
                  {{ resp[1] }}
                  <em>
                    (no intervention)
                  </em>
                {% endif %}
              </li>
              <br>
            {% endfor %}
          </ol>
        </td>
      {% endif %}

      <td>
        {% with notif = gg.query.filter_by(id = intv.notif_id).first() %}
        <strong>Title</strong>:
        {{ notif.title }}
        <br>
        <strong>Content</strong>:
        {{ notif.content }}
        <br>
        <strong>App</strong>:
        {{ notif.app_id }}
        {% endwith %}
      </td>
    </tr>

  {% endfor %}

</table>

</table>
