<div class="page-header">
  <h3>
    {% if experiment %}
      Title:
      {{ experiment.title }}
      ({{ experiment.code }})
      <br>
      <small>
        {{ experiment.start | nyc | onlyfancydate }}
        to
        {{ experiment.end | nyc | onlyfancydate }}
      </small>
    {% endif %}
  </h3>
  <span id="edit-experiment-status"></span>
  <button
    style="display: none"
    type="button"
    id="code_from_hidden_element"
    value="{{ experiment.code }}"></button>
</div>

<div id="edit-experiment-contents">
  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Title</label>
    <div class="col-xs-10">
      <input class="form-control" type="text" id="edit-exp-title" value="{{experiment.title}}"></input>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Start Date</label>
    <div class="col-xs-10">
      <input
        class="form-control"
        id="edit-start-date"
        data-provide="datepicker"
        data-date-start-date="{{ today_date }}"
        data-date-format="yyyy-mm-dd"
        data-date-today-highlight="true"
        value="{{experiment_start }}"/>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-xs-2 col-form-label">End Date</label>
    <div class="col-xs-10">
      <input
        class="form-control"
        id="edit-end-date"
        data-provide="datepicker"
        data-date-start-date="{{ experiment_start }}"
        data-date-format="yyyy-mm-dd"
        data-date-today-highlight="true"
        value="{{ experiment_end }}"/>
    </div>
  </div>

  {% if not(experiment.calendar or experiment.text or experiment.image) %}
    <div class="form-group row">
      <label class="col-xs-2 col-form-label">Is Mturk Study</label>
      <div class="col-xs-10">
        <input
          type="checkbox"
          id="edit-is-mturk-study-checkbox-btn"
          {{ 'checked' if experiment.is_mturk_study
          else 'unchecked' }}
          data-toggle="toggle"
          data-on="Yes"
          data-off="No"
          data-onstyle="primary"
          data-offstyle="danger">
      </div>
    </div>
  {% endif %}

  {% if not experiment.is_mturk_study %}
    <div class="form-group row">
      <label class="col-xs-2 col-form-label">Enable User Notification Window</label>
      <div class="col-xs-10">
        <input
          type="checkbox"
          id="edit-notif-window-checkbox-btn"
          {{ 'checked' if experiment.is_notif_window_enabled else
          'unchecked' }}
          data-toggle="toggle"
          data-on="Yes"
          data-off="No"
          data-onstyle="primary"
          data-offstyle="danger">
      </div>
    </div>

    {% if not(experiment.image or experiment.text) %}
      <div class="form-group row">
        <label class="col-xs-2 col-form-label">Google Calendar</label>
        <div class="col-xs-10">
          <input
            type="checkbox"
            id="edit-calendar-checkbox-btn"
            {{ 'checked' if experiment.calendar else
          'unchecked' }}
            data-toggle="toggle"
            data-on="Yes"
            data-off="No"
            data-onstyle="primary"
            data-offstyle="danger">
        </div>
      </div>
    {% endif %}

    {% if not experiment.calendar %}
      <div class="form-group row">
        <label class="col-xs-2 col-form-label">Dashboard (Images/Text)</label>
        <div class="col-xs-10">
          <input
            type="checkbox"
            id="edit-dashboard-checkbox-btn"
            {{ 'checked' if experiment.image and experiment.text
          else 'unchecked' }}
            data-toggle="toggle"
            data-on="Yes"
            data-off="No"
            data-onstyle="primary"
            data-offstyle="danger">
        </div>
      </div>
    {% endif %}

    <div class="form-group row" style="display: none">
      <label class="col-xs-2 col-form-label">Dashboard Images</label>
      <div class="col-xs-10">
        <input
          type="checkbox"
          id="edit-image-checkbox-btn"
          {{ 'checked' if experiment.image else 'unchecked'
          }}
          data-toggle="toggle"
          data-on="Yes"
          data-off="No"
          data-onstyle="primary"
          data-offstyle="danger">
      </div>
    </div>

    <div class="form-group row" style="display: none">
      <label class="col-xs-2 col-form-label">Dashboard Text</label>
      <div class="col-xs-10">
        <input
          type="checkbox"
          id="edit-text-checkbox-btn"
          {{ 'checked' if experiment.text else 'unchecked' }}
          data-toggle="toggle"
          data-on="Yes"
          data-off="No"
          data-onstyle="primary"
          data-offstyle="danger">
      </div>
    </div>

    {% if not(experiment.calendar or experiment.text or experiment.image) %}
      <div class="form-group row">
        <label class="col-xs-2 col-form-label">RescueTime</label>
        <div class="col-xs-10">
          <input
            type="checkbox"
            id="edit-rescuetime-checkbox-btn"
            {{ 'checked' if experiment.rescuetime else
          'unchecked' }}
            data-toggle="toggle"
            data-on="Yes"
            data-off="No"
            data-onstyle="primary"
            data-offstyle="danger">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-2 col-form-label">Geofence</label>
        <div class="col-xs-10">
          <input
            type="checkbox"
            id="edit-geofence-checkbox-btn"
            {{ 'checked' if experiment.geofence else
          'unchecked' }}
            data-toggle="toggle"
            data-on="Yes"
            data-off="No"
            data-onstyle="primary"
            data-offstyle="danger">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-2 col-form-label">Phone Vibration</label>
        <div class="col-xs-10">
          <input
            type="checkbox"
            id="edit-actuators-checkbox-btn"
            {{ 'checked' if experiment.actuators else
          'unchecked' }}
            data-toggle="toggle"
            data-on="Yes"
            data-off="No"
            data-onstyle="primary"
            data-offstyle="danger">
        </div>
      </div>
    {% endif %}

  {% endif %}
  <!-- non mturk features  -->

  <button type="button" class="btn btn-primary" id="update-experiment-btn">
    <span class="glyphicon glyphicon-floppy-saved"></span>
    Update Experiment
  </button>

  <button type="button" class="btn btn-danger" id="delete-experiment-btn">
    <span class="glyphicon glyphicon-trash"></span>
    Delete Experiment
  </button>
</div>
