<div class="page-header">
    <h3>
        Mobile App - Participant Onboarding
    </h3>
</div>

<div class="bigger-body-text">
    <ol>
        <li>If applicable, download all non-research apps
            <a href="https://play.google.com/store/apps" target="_blank">
                from Google Play Store</a>.
        </li>

        <li>Install App Logger, an Android research app, on your phone by
            <a href="https://github.com/fnokeke/FgApp/blob/master/apk/applogger.apk?raw=true" target="_blank">clicking
                here</a>.
        </li>

        <li>Install Beehive App, another Android research app, on your phone by
            <a href="https://github.com/fnokeke/BeehiveApp-Android/blob/master/apk/beehive.apk?raw=true"
               target="_blank">clicking here</a>.
        </li>

        <li>Submit your <em>study code</em> provided to you by your researcher to connect to study.</li>

        <li>If prompted, allow storage permissions requested by app.</li>

        <li>If prompted, enter your weekday/weekend sleep times and wakeup times. You may also need to indicate what
            time of the day you prefer to receive reminders.
        </li>

    </ol>
</div>

