/* cover.css */

body {
  background-color: #000;
}

.larger-text {
  font-size: 40px;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  background-image: url(/static/images/school.jpg);
  height: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  margin-top: 200px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0,0,0,.5);
}
