/* style.css */

.center-content {
  text-align: center;
  color: #f88;
}

.mfooter {
    margin-top: 1em;
    margin-bottom: 2em;
    margin-right: 3em;
    color: #aaa;
    font-size: smaller;
    text-align: right;
}

.label-text {
  margin-bottom: 10px;
}

.alert-fixed {
    position:fixed;
    bottom: 0px;
    right: 0px;
    width: 50%;
    z-index:9999;
    border-radius:0px
}

.col-tiny-1 {
  width: 5%;
}

.col-tiny-2 {
  width: 10%;
}

.col-img {
  width: 10%;
  height: 10%;
}
