{% extends "base.html" %}

{% block title %}
404 Error
{% endblock %}

{% block cover %}
<link href="{{ url_for('static', filename='cover.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="center-content">
  <p></p>
  <img src="{{ url_for('static', filename='images/404.jpg')}}" alt="404 image error" />
  <h4>You are not authorized to access this page!</h4>
  <h4>Please <a  href="https://slm.smalldata.io/"> Click here </a> to return to home page </h4>
</div>

{% endblock %}
