{% extends "base.html" %}

{% block title %}
    Download
{% endblock %}

{% block cover %}
    <link href="{{ url_for('static', filename='cover.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="container">

        <div class="page-header">
            <h2>Android Suite</h2>
        </div>

        <div>

            <div class="page-header">
                <h4>Beehive Main App</h4>
                <p>
                    <a href="{{ url_for('static', filename='downloads/beehive.apk') }}">Beehive</a>
                </p>
            </div>

            <div class="page-header">
                <h4>Beehive Background App</h4>
                <p>
                    <a href="{{ url_for('static', filename='downloads/beehivebg.apk') }}">Beehive Bg</a>
                </p>

            </div>

            <div class="page-header">
                <h4>GeoPlaces App</h4>
                <p>
                    <a href="{{ url_for('static', filename='downloads/geoplaces.apk') }}">GeoPlaces</a>
                </p>
            </div>

        </div>

    </div>
{% endblock %}
