{% extends "base.html" %}

{% block title %}
  Download
{% endblock %}

{% block cover %}
  <link href="{{ url_for('static', filename='cover.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

  <div class="container">

    <div class="page-header">
      <h2>Download Android App</h2>
    </div>

    <div>
      <p>
        <a href="{{ url_for('static', filename='downloads/geoplaces1.0.apk') }}">Geo Places 1.0</a>
      </p>

      <p>
        <a href="{{ url_for('static', filename='downloads/beehive1.1.apk') }}">Beehive App 1.1</a>
      </p>

      <p>
        <a href="{{ url_for('static', filename='downloads/beehive-monitor.apk') }}">Vibration Monitor App 1.0</a>
      </p>
    </div>

  </div>
{% endblock %}
