{% extends 'layout.html' %}

{% block title %}
    {{ current_user.firstname + ' | Home' }}
{% endblock %}

{% block user_type %}
    <em>
        participant
    </em>

{% endblock %}
{% block contents %}

    <div class="container">

        <div class="page-header">
            <h3>Welcome,
                {{ current_user.firstname }}
            </h3>
        </div>


        <div>

            {% if not current_user.omh_access_token and not current_user.omh_refresh_token %}
                <button type="submit" id="auth-omh-btn" class="btn btn-primary btn-lg btn-block">Connect Ohmage
                </button><br>

            {% else %}
                <span class='text-primary'>
          <em>
            Ohmage is connected.
          </em>
        </span>

                <br>
                <br>
                {#        <button type="submit" class="btn btn-primary" onclick="window.location.href='https://play.google.com/store/apps/details?id=com.facebook.katana&hl=en'">Continue to Mobile App</button>#}
                <button type="submit" class="btn btn-primary btn-lg btn-block"
                        onclick="window.location.href='beehive://androidlogin?email={{ participant.email }}'">Continue
                    to
                    Mobile App
                </button>

            {% endif %}

        </div>

    </div>

{% endblock %}
