{% extends 'base.html' %}

{% block title %}
    Welcome
{% endblock %}

{% block extras %}
    <!--<link href="{{ url_for('static', filename='css/cover.css') }}" rel="stylesheet">-->
{% endblock %}

{% block body %}

    <div class="section black-900 ">
        <div class="container-fluid  text-center home-cover" style="padding: 200px 50px 200px 50px;">
            <div class="container">
                <h1 class="col-md-12 text-center">Behavior Change Framework</h1>
                <p class="lead">
                    <small>study human behaviors and deploy interventions in real-world settings using mobile devices.</small>
                </p>

                <div class="btn-group" role="group">
                    <button
                            type="button"
                            class="btn btn-lg btn-info"
                            alt="Researcher Sign In"
                            onclick="window.location.href='/google_login_researcher'">Researcher Sign In
                    </button>
                </div>

            </div>

        </div>
    </div>

    <br>
    <br>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="header-text">About</h2>
                    <p class="lead">
                        <small> Beehive makes it easy for researchers to capture participant/patient reported outcomes
                            using mobile devices.
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <hr>
    <br>
    <div class="section section-presentation">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="description lead">
                        <h2 class="header-text text-center">Researchers</h2>
                        <small>
                            <p>Customize Beehive interface to fit the specific needs for your research project using our
                                web-based manager. Features:</p>
                            <ul>
                                <li>create onboarding instructions.</li>
                                <li>select mobile datastreams to capture</li>
                                <li>design interventions tailored to each user</li>
                                <li>monitor participants' progress through live dashboard</li>
                                <li>download data for extensive offline analysis</li>
                            </ul>
                            <p>Currently available to Cornell Tech, UMich, and OSU research teams. Coming soon to other institutions.</p>
                        </small>
                    </div>
                </div>

                <div class="col-md-6">
                    <img src="/static/images/researcher_edit_task.png" style="width:120%;"/>
                </div>

            </div>
        </div>

        <br>
        <hr/>


        <div class="section section-demo">
            <div class="container lead">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-1">

                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>

                            <div class="carousel-inner">

                                <div class="item active">
                                    <img src="/static/images/app/framed2.png" alt="app1">
                                </div>

                                <div class="item">
                                    <img src="/static/images/app/framed3.png" alt="app2">
                                </div>

                                <div class="item">
                                    <img src="/static/images/app/framed4.png" alt="app3">
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6 col-sm-offset-1">
                        <br>
                        <h2 class="header-text text-center">Participants</h2>
                        <small>
                            <p>Onboarding participants should:</p>
                            <ol>
                                <li>Install Beehive app(s)</li>
                                <li>Enter experiment code</li>
                                <li>Use their phones as they normally do</li>
                            </ol>
                        </small>
                        <a href="#"
                           class="btn btn-fill btn-info" data-button="info"><i class="fa fa-apple"></i> App Store</a>
                        <a href="#" class="btn btn-fill btn-info disabled" data-button="info"><i
                                class="fa fa-android"></i> Play Store</a>

                    </div>
                </div>
            </div>
        </div>


        <hr/>

        <div class="section section-features">
            <div class="container">
                <h2 class="header-text text-center">Features</h2>
                <div class="row">

                    <div class="col-md-4">
                        <div class="card card-blue">
                            <div class="icon">
                                <i class="pe-7s-graph1"></i>
                            </div>
                            <div class="text">
                                <h4>Mobile Sensing</h4>
                                <p>Using embeded sensors, uncover users' daily habits without interrupting them.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-blue">
                            <div class="icon">
                                <i class="pe-7s-paper-plane"></i>
                            </div>
                            <h4>Digital Nudges</h4>
                            <p>Send push notifications, phone vibrations, and more to participants.</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-blue">
                            <div class="icon">
                                <i class="pe-7s-date"></i>
                            </div>
                            <div class="text">
                                <h4>User Contexts</h4>
                                <p>Deploy interventions based on user locations, time, phone usage habits.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <br/>
        <br/>

        <div class="section section-gray section-clients">
            <div class="container text-center">
                <br/>
                <h2 class="header-text lead">Technology</h2>
                <p class="lead">
                    <small>Beehive leverages the existing frameworks such as <a href="http://researchkit.org/">ResearchKit</a> and <a href="http://researchstack.org/">ResearchStack</a>
                        to capture user behaviors.
                        Using Beehive, researchers can design diverse experiments with different mobile interventions for groups of
                        participants.
                    </small>
                </p>
                <div class="row">
                    <div class="col-md-3"><a href="http://researchkit.org/"><img src=""/></a></div>
                    <div class="col-md-3"><a href="http://researchkit.org/"><img
                            src="/static/images/research_kit_logo.png" style="width:50%;"/></a></div>

                    <div class="col-md-3"><a href="http://researchstack.org/"><img
                            src="/static/images/research_stack_logo.png" style="width:65%;"/></a></div>
                    <div class="col-md-3"><a href="http://researchkit.org/"><img src=""/></a></div>
                </div>
                <br/>
            </div>
        </div>

        <br/>
        <footer class="footer">
            <div class="container">
                <div class=" footer-style ">
                </div>
                <div class="copyright text-center">
                    <img src="/static/images/beehive.png" style="height: 30px;"/> Beehive
                    &copy; 2017 <a href="http://smalldata.io/"> Cornell Tech - Small Data Lab</a>
                </div>
                <br>
            </div>
        </footer>
    </div>
{% endblock %}
