{% extends 'base.html' %}
{% block body %}

<nav class="navbar navbar-default navbar-inverse navbar-static-top">

  <div class="container">

    {% block nav_brand %}
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        <span class="sr-only">
        navigation
        </span>
      </button>

      <a class="navbar-brand" href="#"> Beehive v1.1 </a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!--{% set links = ['experiments', 'settings'] if current_user.email else [] %}-->
        {% set links = [] if current_user.email else [] %}

        {% for ni in links %}
        <li {% if request.path==url_for(ni) %} class="active" {% endif %}>
          <a href="{{ url_for(ni) }}"> {{ ni | upper }} </a>
        </li>
        {% endfor %}
      </ul>

      {% block nav_signin %}
      <p class="nav navbar-nav navbar-right navbar-text">
        {% if current_user %}
        <strong>
          {% block user_type %} {% endblock %}
          signed in as {{ current_user.email if current_user.email else 'researcher' }}
        </strong>
        &nbsp;&nbsp;&nbsp;
        <a href="{{ url_for('logout') }}"> sign out </a>
        {% endif %}
      </p>
      {% endblock %}
    </div>

    {% endblock %}
  </div>

</nav>

{% block contents %} {% endblock %}

{% endblock %}
