{% extends 'base.html' %}
{% block body %}

    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                {% if not disable_navbar %}
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                {% endif %}
                <a class="navbar-brand" href="#">
                    {{ 'Beehive' | upper }}
                    <small> - 1.5</small>
                </a>
            </div>


            <div class="collapse navbar-collapse" id="myNavbar">
                {% if not disable_navbar %}

                    {% block navbar_links %}
                        <ul class="nav navbar-nav">
                            {% set links = ['experiments', 'settings'] if user_type == 'researcher' else ['home', 'settings'] %}
                            {% for ni in links %}
                                <li {% if request.path==url_for(ni) %} class="active" {% endif %}>
                                    <a href="{{ url_for(ni) }}">
                                        {% if ni=='experiments' %}
                                            <span class="glyphicon glyphicon-hourglass"></span>
                                        {% elif ni=='settings' %}
                                            <span class="glyphicon glyphicon-cog"></span>
                                        {% elif ni=='home' %}
                                            <span class="glyphicon glyphicon-home"></span>
                                        {% endif %}
                                        {{ ni | capitalize }} </a>
                                </li>
                            {% endfor %}
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="{{ url_for('logout') }}">
                                    <span class="glyphicon glyphicon-log-out"></span>
                                    Sign out {{ user_type }} - {{ current_user.email }}
                                </a>
                            </li>
                        </ul>
                    {% endblock %}

                {% endif %}

            </div>
        </div>
    </nav>

    {% block contents %} {% endblock %}
{% endblock %}

