{% extends "layout.html" %}

{% block title %}
  Mturk Experiment
{% endblock %}

{% block nav_brand %}
  <a class="navbar-brand" href="#">Mturk Digital Distraction Experiment</a>
{% endblock %}

{% block contents %}
  {% block nav_signin %}{% endblock %}

  <div class="container">

    <div class="page-header">
      <h3>
        Who are we?
      </h3>
      <p>
        <br>We are researchers in the
        <a href="http://smalldata.io/" target="_blank">Small Data Lab</a>
        at
        <a href="https://tech.cornell.edu" target="_blank">Cornell Tech</a>, which is part of
        <a href="https://cornell.edu" target="_blank">Cornell University</a>.
      </p>
    </div>

    <div class="page-header">
      <h3>
        Goal
      </h3>
      <p>
        By participating in this experiment, you contribute to the growing body of scientific research on
        digital distractions.
      </p>

    </div>

    <div class="page-header">
      <h3>
        Duration
      </h3>
      <p>
        This experiment will run for 5 days.
      </p>
    </div>

    <div class="page-header">
      <h3>
        Your tasks
      </h3>

      <ul>
        <li>Complete three surveys at the beginning of experiment.</li>
        <li>Download three apps that will automatically record which apps you use on your phone. You don't
          need to do anything manually.</li>
        <li>Complete two surveys at the end of experiment.</li>
        <li>That's it. All done!</li>
      </ul>

    </div>

    <div class="page-header">
      <h3>
        Compensation
      </h3>
      <p>
        You will be paid $1 at the end of each day for a total of $5 at the end of the experiment.
      </p>
    </div>

    <div class="page-header">
      <h3>
        Disqualification
      </h3>
      <p>
        You will not be paid and will be automatically removed from the experiment if:
      </p>

      <ul>
        <li>
          you don’t meet all eligibility criteria listed in the next section.
        </li>
        <li>
          if you provide fake responses to surveys that you complete.
        </li>
        <li>
          if you don't have experiment apps running throughout the study.
        </li>
      </ul>
    </div>

    <div class="page-header">
      <h3>
        Eligibility
      </h3>

      <ul>
        <li>
          ONLY android phone users can participate.
        </li>
        <li>
          You actively use Facebook on your smartphone (at least 1 hour daily).
        </li>
      </ul>
    </div>

    <div class="page-header">
      <h3>
        How to join?
      </h3>

      <ul>
        <li>
          Download 2 android applications to your android smartphone:
          <ul>
            <li>
              Install 1st app by following
              <a
                href="https://docs.google.com/document/d/11uvdO4dJhHg-jpE8aq3c3WQnBOG7uZRQIjsyGLUcc7M/edit?usp=sharing"
                target="_blank">Aware app installation instructions</a>.
            </li>
            <li>
              Install 2nd app by following
              <a
                href="https://docs.google.com/document/d/1YC-I4_zchFDyU4s6Z6ydgtXIZ5KV898cDT2pND5xFlk/edit?usp=sharing"
                target="_blank">DeployGate app installation instructions</a>.
            </li>
          </ul>
        </li>
        <br>
        <br>
        <li>
          Complete these surveys immediately after installing the apps:
          <ul>
            <li>
              <a href="https://goo.gl/forms/ghvR19Z5sGEj9rBH3" target="_blank">experiment start survey</a>
            </li>
            <li>
              <a href="https://goo.gl/forms/M9haYl6XefUhNqMr1" target="_blank">personality survey</a>
            </li>
            <li>
              <a href="https://goo.gl/forms/K2doPmuSVPuXJmiC2" target="_blank">impulse survey</a>
            </li>
          </ul>
        </li>
        <br>
        <br>
        <li>
          Complete these surveys on the last day of the experiment:
          <ul>
            <li>
              <a href="https://goo.gl/forms/bHAPy4vGC5OfhuYi1" target="_blank">morningness - eveningness survey</a>
            </li>
            <li>
              <a href="https://goo.gl/forms/RNNPuPIp8Vt4Mgua2" target="_blank">experiment end survey</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="page-header">
      <h3>What our apps do?</h3>
      <ul>
        <li>
          The mobile apps you downloaded will monitor all apps you use on your phone throughout the
          experiment.
        </li>
        <li>
          Data collected will automatically be stored in our remote server for research analysis at the end of
          the experiment. This means you don't have to do anything manually.
        </li>
        <li>
          Your phone will vibrate anytime you use your mobile Facebook app for
          <strong>more than 15 minutes</strong>
          per day or you open the app
          <strong>more than 5 times</strong>
          per day.
        </li>
        <li>
          <em>
            <strong>Note</strong>: Phone vibration will happen ONLY on 2nd and 3rd day of experiment; there will
            be no vibration on the 1st, 4th and 5th days.
          </em>
        </li>
      </ul>

    </div>

    <div class="page-header">
      <h3>
        Consent
      </h3>
      <ul>
        <li>
          You may uninstall all apps from your device and exit from the study at any time. However, there will
          only be payments for the days that you participated.
        </li>
        <li>
          After the study, you should uninstall all the mobile apps you downloaded for this study as all apps
          may automatically stop working.
        </li>
      </ul>

      <br>
      <em>NB: We are not in any way affiliated to Aware framework or DeployGate mobile apps. We only use
        these apps primarily for conducting research experiments.
      </em>
    </div>

    <div class="page-header">
      <h3>
        Uninstall apps
      </h3>
      <p>To uninstall apps, go to your list of phone apps and uninstall these three apps:
      </p>
      <ul>
        <li>
          <em>Aware</em>
        </li>
        <li>
          <em>Beehive Monitor</em>
        </li>
        <li>
          <em>Deploy Gate</em>
        </li>
      </ul>
    </div>

    <div class="page-header">
      <h3>
        Contact
      </h3>
      <p>If you choose to exit early from the study or have any questions, you may contact us by completing
        <a href="https://goo.gl/forms/1Ekk35v7KFGBtdQU2" target="_blank">this form</a>.
      </p>
    </div>

  </div>

  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      },
      i[r].l = 1 * new Date();
      a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-87630647-1', 'auto');
    ga('send', 'pageview');
  </script>

{% endblock %}
