{% extends "layout.html" %}

{% block title %}
  Mturk Experiment
{% endblock %}

{% block nav_brand %}
  <a class="navbar-brand" href="#">Mturk Digital Distraction Experiment</a>
{% endblock %}

{% block contents %}
  {% block nav_signin %}{% endblock %}

  <div class="container">

    <div class="page-header">
      <h3>
        Goal
      </h3>
      <p>
        By participating in this experiment, you contribute to the body of scientific research on digital
        distractions.
      </p>

    </div>

    <div class="page-header">
      <h3>
        Duration
      </h3>
      <p>
        This experiment will run for 3 weeks.
      </p>
    </div>

    <div class="page-header">
      <h3>
        Compensation
      </h3>

      <ul>
        <li>
          $10 (USD)
        </li>
        <li>
          No payment if you don’t meet all eligibility criteria.
        </li>
        <li>
          No payment if you exit study before it ends.
        </li>
      </ul>
    </div>

    <div class="page-header">
      <h3>
        Eligibility
      </h3>

      <ul>
        <li>
          ONLY android phone users.
        </li>
        <li>
          You have Facebook app already installed on your phone.
        </li>
        <li>
          You already actively use Facebook on your smartphone (at least 1 hour daily).
        </li>
      </ul>
    </div>

    <div class="page-header">
      <h3>
        How to join?
      </h3>

      <ul>
        <li>
          Download 2 android applications to your smartphone and scan their QR codes:
          <ul>
            <li>
              <a href="https://play.google.com/store/apps/details?id=com.aware.phone&hl=en" target="_blank">Download aware framework app</a>
              and then
              <a
                href="https://docs.google.com/document/d/11uvdO4dJhHg-jpE8aq3c3WQnBOG7uZRQIjsyGLUcc7M/edit?usp=sharing"
                target="_blank">Scan QR</a>.
            </li>
            <li>
              <a href="https://play.google.com/store/apps/details?id=com.deploygate&hl=en" target="_blank">Download deploy gate app</a>
              and then
              <a
                href="https://docs.google.com/document/d/1YC-I4_zchFDyU4s6Z6ydgtXIZ5KV898cDT2pND5xFlk/edit?usp=sharing"
                target="_blank">Scan QR</a>.
            </li>
          </ul>
        </li>
        <li>
          Complete 3 surveys at the beginning of the experiment:
          <ul>
            <li>
              <a href="https://goo.gl/forms/XbxgVfi2CYazLK0b2" target="_blank">experiment start survey</a>
            </li>
            <li>
              <a href="https://goo.gl/forms/M9haYl6XefUhNqMr1" target="_blank">personality survey</a>
            </li>
            <li>
              <a href="https://goo.gl/forms/K2doPmuSVPuXJmiC2" target="_blank">impulse survey</a>
            </li>
          </ul>
        </li>
        <li>
          Complete one survey at the end of experiment:
          <ul>
            <li>
              <a href="https://goo.gl/forms/RNNPuPIp8Vt4Mgua2" target="_blank">experiment end survey</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="page-header">
      <h3>What our apps do?</h3>
      <ul>
        <li>
          The mobile apps you downloaded will monitor all apps you use on your phone throughout the
          experiment.
        </li>
        <li>
          Data collected will automatically be stored in our remote server for research analysis at the end of
          the experiment.
        </li>
        <li>
          Your phone will vibrate anytime you use your mobile Facebook app for
          <strong>more than 20 minutes</strong>
          per day or you open the app
          <strong>more than 10 times</strong>
          per day.
        </li>
        <li>
          <em>
            <strong>Note</strong>: Phone vibration will NOT happen in 1st and 3rd week of experiment; ONLY during 2nd week.
          </em>
        </li>
      </ul>

    </div>

    <div class="page-header">
      <h3>
        Consent
      </h3>
      <ul>
        <li>
          You may uninstall all apps from your device and exit from the study at any time. However, there will
          be no payment unless you stay till the end of the study.
        </li>
        <li>
          After the study, you should uninstall all the mobile apps you downloaded for this study as all apps
          may completely stop working at the end of the study.
        </li>
      </ul>

      <br>
      <em>NB: We are not in any way affiliated to Aware framework or DeployGate mobile apps. We only use
        these apps primarily for conducting research experiments.
      </em>
    </div>

  </div>

{% endblock %}
