{% extends 'layout.html' %}
{% block title %}
  Researcher | Home
{% endblock %}
{% block contents %}

  <div class="container">

    {% if users | length > 0 %}
      <div class="page-header">
        <h3>available participants</h3>
      </div>

      <div>
        <table class="table table-striped">
          <tr>
            <th>
              User
            </th>
            <th>
              Moves
            </th>
            <th>
              PAM
            </th>
            <th>
              RescueTime
            </th>
          </tr>

          {% for user in users %}
            <tr>
              <td class='info'>
                user{{loop.index}}
              </td>
              <td class={{ 'success' if user.moves_access_token else 'danger'}}>
                {{'connected' if user.moves_access_token else 'not connected'}}
              </td>
              <td class={{ 'success' if user.pam_access_token else 'danger'}}>
                {{'connected' if user.pam_access_token else 'not connected'}}
              </td>
              <td class={{ 'success' if user.rescuetime_access_token else 'danger'}}>
                {{'connected' if user.rescuetime_access_token else 'not connected'}}
              </td>
            </tr>
          {% endfor %}

        </table>

      {% else %}
        <h4>There are currently no registered users</h4>
      {% endif %}

    </div>

    <div class="page-header">
      <h3>Interventions</h3>
    </div>

    <div>
      <h4>Images</h4>
      <form enctype="multipart/form-data">
        <input type="file" id="image" name="image" accept="Image/*"/>
        <br>
        <input type="submit" id="send-img-btn" value="Upload Image" class="btn btn-primary"/>
        <br>
        <span id="upload-status"></span>
      </form>
      <br>

      <div class="page-header">
        <h3>Storage</h3>
        <input type="button" id="fetch-all-imgs-btn" value="Fetch All Images" class="btn btn-primary"/>
      </div>

      <div id="stored-img-div"></div>
      <br>

      <h4>Texts</h4>
      <form enctype="multipart/form-data">
        <textarea name="txt" id="txt" rows="8" cols="40"></textarea>
        <br>
        <input type="submit" id="send-txt-btn" value="Send to Participants" class="btn btn-primary"/>
        <br>
        <span id="txt-status"></span>
      </form>
      <br>
    </div>

    <!-- <form id="image-form">
      <label class="btn btn-default" for="uploaded-image">
        <input
          id="image"
          type="file"man
          style="display:none;"
          onchange="$('#upload-status').html($(this).val());">
        Upload Image
      </label>


      <br>
      <br>
      <button class="btn btn-primary" type="button" id="send-img-btn">Send to Participants</button>
    </form> -->
    <!--
    <div class="">

      <table class="table">
        <h3>data analysis</h3>

        <tr>
          <td>
            <div class="col-lg-8">

              <span class="dropdown">
                <strong>
                  Select datastream:
                </strong>
                <br>
                <span
                  class="btn btn-default dropdown-toggle"
                  type="button"
                  id="dropdown-action-label"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="true">
                  Steps
                  <span class="caret"></span>
                </span>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="dropdown-action">
                  <li>
                    <a>Calories</a>
                  </li>
                  <li>
                    <a>Steps</a>
                  </li>
                  <li>
                    <a>Duration</a>
                  </li>
                </ul>
              </span>
              <br>
              <br>

            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="">

      <table class="table">
        <tr>
          <div class="col-lg-6">
            <strong>
              Select 4 dates in order:
            </strong>
            <em>
              Study Begin, Intervention Begin, Intervention End, Study End
            </em><br>
            <em>
              <small>NB: Max of
                <strong>31 days max</strong>
                b/w study start and end.
              </small>
            </em>
            <input
              data-provide="datepicker"
              data-date-end-date="-1d"
              data-date-format="yyyy-mm-dd"
              data-date-multidate=4
              data-date-multidate-separator=",   "
              data-date-today-highlight=true
              id="experiment-dates"
              class="form-control"
              placeholder="select four (4) dates">
            <br>
          </div>

        </tr>

        <tr>
          <td>
            <div class="col-lg-3">
              <button class="btn btn-primary" type="button" id="perform-analysis-btn">Perform Analysis</button>
            </div>
          </td>
        </tr>

      </table>

    </div>

    <div class="page-header">
      <h3>results</h3>
      <span class="danger" id="error-div"></span>
      <span id="analysis-status">Awaiting input...</span>
    </div>

  </div>
-->
  {% endblock %}
