{% extends 'layout.html' %}
{% block title %}
  Researcher | Home
{% endblock %}

{% block contents %}

  <!-- hide mturk view for now  -->
  <div class="container">

    <div class="page-header">
      <h3>Quick Stats</h3>
    </div>

    <div>
      <p>
        Total active experiment:
        {{ experiments | length }}
        <br>
        Total active interventions:
        {{ interventions | length }}
        <br>
        Desktop participants across all experiments:
        {{ users | length }}
        <br>
        Mobile participants across all experiments:
        {{ mobile_users | length }}
        <br>
      </p>
    </div>

    <div class="page-header">
      <h3>Experiments</h3>
    </div>

    <!-- Modal Button -->
    <button
      type="button"
      class="btn btn-primary"
      id="add-experiment-btn"
      data-toggle="modal"
      data-target="#add-experiment-modal">
      <span class="glyphicon glyphicon-plus"></span>
      Add Experiment
    </button>
    <p></p>

    <div>
      <span id="experiment-view-id"></span>
      <span id="experiment-view-status"></span>
    </div>

    <!-- New Experiment Modal -->
    <div
      class="modal fade"
      id="add-experiment-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">New Experiment</h4>
          </div>
          <div class="modal-body">

            <div class="form-group row">
              <label class="col-xs-2 col-form-label">Title</label>
              <div class="col-xs-10">
                <input class="form-control" type="text" id="experiment-title-id">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-xs-2 col-form-label">Dates</label>
              <div class="col-xs-10">
                <div class="input-group input-daterange">
                  <input
                    type="text"
                    id="exp-start-date"
                    class="form-control"
                    placeholder="start date"
                    data-date-start-date="+1d"
                    data-date-today-highlight=true
                    data-date-format='yyyy-mm-dd'>

                  <div class="input-group-addon">to</div>
                  <input
                    type="text"
                    id="exp-end-date"
                    class="form-control"
                    placeholder="end date"
                    data-date-start-date="+1d"
                    data-date-today-highlight=true
                    data-date-format='yyyy-mm-dd'>
                </div>
              </div>
            </div>

            <script type="text/javascript"></script>

            <div class="form-group row">
              <label class="col-xs-2 col-form-label">RescueTime required</label>
              <div class="col-xs-10">
                <input
                  type="checkbox"
                  id="rescuetime-checkbox-btn"
                  'unchecked'
                  data-toggle="toggle"
                  data-on="Yes"
                  data-off="No"
                  data-onstyle="success"
                  data-offstyle="danger">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-xs-2 col-form-label">Aware App required</label>
              <div class="col-xs-10">
                <input
                  type="checkbox"
                  id="aware-checkbox-btn"
                  'unchecked'
                  data-toggle="toggle"
                  data-on="Yes"
                  data-off="No"
                  data-onstyle="success"
                  data-offstyle="danger">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-xs-2 col-form-label">Geofence Feature</label>
              <div class="col-xs-10">
                <input
                  type="checkbox"
                  id="geofence-checkbox-btn"
                  'unchecked'
                  data-toggle="toggle"
                  data-on="Yes"
                  data-off="No"
                  data-onstyle="success"
                  data-offstyle="danger">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-xs-2 col-form-label">Text Display</label>
              <div class="col-xs-10">
                <input
                  type="checkbox"
                  id="text-checkbox-btn"
                  'unchecked'
                  data-toggle="toggle"
                  data-on="Yes"
                  data-off="No"
                  data-onstyle="success"
                  data-offstyle="danger">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-xs-2 col-form-label">Image Display</label>
              <div class="col-xs-10">
                <input
                  type="checkbox"
                  id="image-checkbox-btn"
                  'unchecked'
                  data-toggle="toggle"
                  data-on="Yes"
                  data-off="No"
                  data-onstyle="success"
                  data-offstyle="danger">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-xs-2 col-form-label">Alarm Reminder</label>
              <div class="col-xs-10">
                <input
                  type="checkbox"
                  id="reminder-checkbox-btn"
                  'unchecked'
                  data-toggle="toggle"
                  data-on="Yes"
                  data-off="No"
                  data-onstyle="success"
                  data-offstyle="danger">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-xs-2 col-form-label">WiFi/<br>Vibration/<br>Media</label>
              <div class="col-xs-10">
                <input
                  type="checkbox"
                  id="actuators-checkbox-btn"
                  'unchecked'
                  data-toggle="toggle"
                  data-on="Yes"
                  data-off="No"
                  data-onstyle="success"
                  data-offstyle="danger">
              </div>
            </div>

            <span id="create-experiment-status"></span>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Exit</button>
            <button type="button" class="btn btn-primary" id="create-experiment-btn">Create</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit/Delete Experiment Modal-->
    <div
      class="modal fade"
      id="edit-exp-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">

            <button type="button" class="close">
              <span class="glyphicon glyphicon-trash"></span>
            </button>

            <button type="button" class="close" data-dismiss="modal">
              <span class="glyphicon glyphicon-edit"></span>
            </button>

            <h4 class="modal-title">
              Edit / Delete Experiment
            </h4>

          </div>
          <div class="modal-body">

            <div class="form-group row">
              <label class="col-xs-2 col-form-label">Title</label>
              <div class="col-xs-10">
                <input class="form-control" type="text" id="edit-exp-title">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-xs-2 col-form-label">RescueTime required</label>
              <div class="col-xs-10">
                <input
                  type="checkbox"
                  id="edit-rescuetime-checkbox-btn"
                  'unchecked'
                  data-toggle="toggle"
                  data-on="Yes"
                  data-off="No"
                  data-onstyle="success"
                  data-offstyle="danger">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-xs-2 col-form-label">Aware App required</label>
              <div class="col-xs-10">
                <input
                  type="checkbox"
                  'unchecked'
                  id="edit-aware-checkbox-btn"
                  data-toggle="toggle"
                  data-on="Yes"
                  data-off="No"
                  data-onstyle="success"
                  data-offstyle="danger">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-xs-2 col-form-label">Geofence Feature</label>
              <div class="col-xs-10">
                <input
                  type="checkbox"
                  id="edit-geofence-checkbox-btn"
                  data-toggle="toggle"
                  data-on="Yes"
                  data-off="No"
                  data-onstyle="success"
                  data-offstyle="danger">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-xs-2 col-form-label">Text/Image Display</label>
              <div class="col-xs-10">
                <input
                  type="checkbox"
                  id="edit-text-image-checkbox-btn"
                  data-toggle="toggle"
                  data-on="Yes"
                  data-off="No"
                  data-onstyle="success"
                  data-offstyle="danger">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-xs-2 col-form-label">Alarm Reminder</label>
              <div class="col-xs-10">
                <input
                  type="checkbox"
                  id="edit-reminder-checkbox-btn"
                  data-toggle="toggle"
                  data-on="Yes"
                  data-off="No"
                  data-onstyle="success"
                  data-offstyle="danger">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-xs-2 col-form-label">WiFi/<br>Vibration/<br>Media</label>
              <div class="col-xs-10">
                <input
                  type="checkbox"
                  id="edit-actuators-checkbox-btn"
                  data-toggle="toggle"
                  data-on="Yes"
                  data-off="No"
                  data-onstyle="success"
                  data-offstyle="danger">
              </div>
            </div>

            <span id="edit-experiment-status"></span>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="save-single-experiment-btn">Save</button>
            <button type="button" class="btn btn-danger" id="delete-single-experiment-btn">Delete</button>
          </div>

        </div>
      </div>
    </div>

    <div style="display: none">

      {% if mturk_users | length > 0 %}
        <div class="page-header">
          <h3>available mturk participants</h3>
        </div>

        <div>
          <table class="table table-striped">
            <tr>
              <th>
                NO
              </th>
              <th>
                Created
              </th>
              <th>
                Worker ID
              </th>
              <th>
                Moves ID
              </th>
              <th>
                Code
              </th>
              <th>
                IP
              </th>
            </tr>

            {% for muser in mturk_users %}
              <tr>
                <td>
                  worker{{loop.index}}
                </td>
                <td>
                  {{muser.created_at}}
                </td>
                <td>
                  {{muser.worker_id}}
                </td>
                <td>
                  {{ muser.moves_id }}
                </td>
                <td>
                  {{ muser.code }}
                </td>
                <td>
                  {{ muser.ip }}
                </td>
              </tr>
            {% endfor %}

          </table>

        {% else %}
          <div class="page-header">
            <h4>There are currently no Mturk users.</h4>
          </div>
        {% endif %}
      </div>

    </div>
  {% endblock %}
