{% extends "layout.html" %}

{% block title %}
  {{current_user.firstname + ' | Settings'}}
{% endblock %}

{% block contents %}

  <div class="container">

    <div class="page-header">
      <h3>Update Profile</h3>
    </div>

    <div>
      <div class="form-group">
        <label for="formGroupExampleInput">First name</label>
        <input
          type="text"
          id="firstname-field"
          class="form-control"
          id="formGroupExampleInput"
          placeholder="{{current_user.firstname or 'type your first name'}}">
      </div>

      <div class="form-group">
        <label for="formGroupExampleInput2">Last name</label>
        <input
          type="text"
          id="lastname-field"
          class="form-control"
          id="formGroupExampleInput"
          placeholder="{{current_user.lastname or 'enter your last name'}}">
      </div>

      <div class="form-group">
        <label for="formGroupExampleInput2">Gender</label>
        <input
          type="text"
          id="gender-field"
          class="form-control"
          id="formGroupExampleInput"
          placeholder="{{current_user.gender or 'provide your gender'}}">
      </div>

      <button type="submit" id="update-profile-btn" class="btn btn-primary">Update Profile</button>
      <div> <span id="update-profile-status"></span> <div>
    </div>
    <p></p>

    <!--
    <div class="page-header">
      <h3>Disconnect Account</h3>
    </div>
    <button id="revoke-gmail-btn" class="btn btn-danger">Revoke Google Apps Access</button><br/><br/>
    <button id="revoke-rescuetime-btn" class="btn btn-danger">Revoke Rescuetime Access</button><br>
    -->

  </div>

  <!-- <div class="page-header">
      <h3>Participant Code</h3>
    </div>

    <div class="input-group input-group-lg">
      <span class="input-group-addon">Enter your participant code:</span>
      <input type="text" class="form-control" id="participant-code">
    </div>
    <span id="code-submit-status"></span>
    <br>
    <button id="code-submit-btn" class="btn btn-primary">Submit</button>

    <form class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
        <div class="input-group">
          <div class="input-group-addon">Enter Participant Code:</div>
          <input type="text" class="form-control" id="participant-code">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
 -->

{% endblock %}
