{% extends "layout.html" %}

{% block title %}
  Mturk Experiment
{% endblock %}

{% block nav_brand %}
  <a class="navbar-brand" href="#">Facebook Usage Experiment</a>
{% endblock %}

{% block contents %}
  {% block nav_signin %}{% endblock %}

  <div class="container">
    <div class="page-header">
      <h3>
        Welcome to experiment
      </h3>
      <p>
        You have been selected from a pool of Mturk workers to participate in this experiment because you
        successfully followed instructions in a previous HIT. You also indicated that you use Facebook
        mobile app for at least 5 minutes per day. If you consider this incorrect information, please do not
        continue with experiment as you will not be paid.
      </p>
    </div>

    <div class="page-header">
      <h3>
        Who we are
      </h3>
      <p>
        <br>We are researchers in the
        <a href="http://smalldata.io/" target="_blank">Small Data Lab</a>
        at
        <a href="https://tech.cornell.edu" target="_blank">Cornell Tech</a>, which is part of
        <a href="https://cornell.edu" target="_blank">Cornell University</a>.
      </p>
    </div>

    <div class="page-header">
      <h3>
        Purpose of this experiment
      </h3>
      <p>
        This experiment investigates how active facebook users use Facebook Mobile App on their smartphone.
        By participating in this experiment, you will be contributing to the growing body of scientific
        research on mobile computing and digital distractions.
      </p>
    </div>

    <div class="page-header">
      <h3>
        Duration of experiment
      </h3>
      <p>
        This experiment will run for 3 weeks.
      </p>
    </div>

    <div class="page-header">
      <h3>
        Compensation
      </h3>
      <p>
        You will be paid $15 at the end of the experiment and entered into a lottery draw to receive an
        additional bonus of $5. Only participants who complete the experiment will be paid.
      </p>
    </div>

    <div class="page-header">
      <h3>
        Your tasks (please read instructions very carefully)
      </h3>

      <ul>
        <li>Complete three surveys at the beginning of experiment.</li>
        <li>Download apps that will automatically record which apps you use on your phone. You don't need to
          do anything manually.</li>
        <li>Complete two surveys at the end of experiment.</li>
        <li>That's it. All done!</li>
      </ul>
    </div>

    <div class="page-header">
      <h3>
        Disqualification (with no payment)
      </h3>
      <p>
        You will be automatically removed from the experiment with no payment if:
      </p>

      <ul>
        <li>
          you don't complete all surveys at the correct time (3 at the beginning / 2 at the end)
        </li>
        <li>
          you provide fake responses to surveys that you complete.
        </li>
        <li>
          if you don't have experiment apps running throughout the duration of the entire study.
        </li>
      </ul>
    </div>

    <div class="page-header">
      <h3>Internet connection required</h3>
      <ul>
        <li>
          You need to have internet connection on your mobile device throughout the experiment.
        </li>
        <li>
          You need to have Facebook Mobile app already installed on your device.
        </li>
        <li>
          This experiment is only for individuals who
          <strong>actively use facebook mobile app</strong>. If you only use Facebook in a mobile browser then you should not continue with experiment.
        </li>
        <li>
          If you meet one of the conditions listed please do not continue with the experiment as you will
          <strong>NOT</strong>
          be paid.
        </li>
      </ul>
    </div>

    <div class="page-header">
      <h3>Phone compatibility</h3>
      If you successfully completed the experiment then your phone will most likely be compatible with our
      research. However, due to multiple differences in phone vendor softwares, your phone may not work or
      begin to act weird. If anything odd happens, please discontinue the experiment and contact the
      requester.

      <br>
      <br>

      The mobile apps you install have been tested and do not cause any battery drain. However, if you
      experience serious battery drain then your phone is also not compatible with our experiment. In this
      case, please contact the requester to exit the experiment.

      <br>
      <br>
      Throughout the experiment, we will monitor if your phone works and may reach out to you if it
      doesn't. Please note that if your phone doesn't work, you cannot be paid as it means it is
      incompatible with the experiment.
    </div>

    <div class="page-header">
      <h3>How to know if app is working</h3>
      Facebook stats will always show in your notification bar throughout the experiment. If it does not
      show up, open "Beevibe" app and click "Start Service". If it still doesn't show up then your phone
      is incompatible.
    </div>

    <div class="page-header">
      <h3>
        How to join
      </h3>

      <!-- Modal -->
      {% include "partials/modals/mturk_consent.html" %}

      To join the study, you have to read the consent form.
      <a id="mturk-read-consent-btn">Click Here</a>
      to go through the consent form and select "I agree" if you decide to continue with experiment.
      Instructions will appear below after you join the study.

      <div id="join-div" style="display: none">
        <br>
        ###############################################################
        <br>
        You have agreed to Consent Form. Follow steps to continue:
        <br>
        <strong>DO NOT COMPLETE ANY SURVEYS IF THE APPS DON'T WORK AS YOU WILL NOT BE PAID.</strong>
        <br>
        ###############################################################
        <ul>
          <li>
            Download 2 android applications to your android smartphone:
            <ul>
              <li>
                Install 1st app by following
                <a
                  href="https://docs.google.com/a/cornell.edu/document/d/1BskFVrIliXNRLaugz3IW9xTe6xpJ755tnD5O6xcHQzI/edit?usp=sharing"
                  target="_blank">Beevibe app installation instructions</a>.
              </li>
              <li>
                Install 2nd app by following
                <a
                  href="https://docs.google.com/a/cornell.edu/document/d/1SrCx5Yx6FR9yW2-tFhauSveRGGTqE5SQHSYZ0lkG8jQ/edit?usp=sharing"
                  target="_blank">Aware app installation instructions</a>.
              </li>

            </ul>
          </li>
          <br>
          <br>
          <li>
            Complete these surveys after installing the apps:
            <ul>
              <li>
                <a href="https://goo.gl/forms/GJBUlyhDM9wezhFf2" target="_blank">experiment start survey</a>
              </li>
              <li>
                <a href="https://goo.gl/forms/WFwt0tzutDNCX2mM2" target="_blank">personality survey</a>
              </li>
              <li>
                <a href="https://goo.gl/forms/isCn7tLm9DTbQY9w1" target="_blank">impulse survey</a>
              </li>
            </ul>
          </li>
          <br>
          <br>
          <li>
            Complete these surveys on the last day of the experiment:
            <ul>
              <li>
                <a href="https://goo.gl/forms/l4SYgTBCGP4OqVsp1" target="_blank">morningness - eveningness survey</a>
              </li>
              <li>
                <a href="https://goo.gl/forms/SNMLDRXSNs68Nsyr1" target="_blank">experiment end survey</a>
              </li>
            </ul>
          </li>
        </ul>

        <div class="page-header">
          <h3>What our apps do?</h3>
          <ul>
            <li>
              The mobile apps you downloaded will monitor all apps you use on your phone throughout the
              experiment.
            </li>
            <li>
              Data collected will automatically be stored in our remote server for research analysis at the end of
              the experiment. This means you don't have to do anything manually.
            </li>
          </ul>
        </div>

        <div class="page-header">
          <h3>Vibration</h3>

          <p>
            In the second week of the experiment, your phone will vibrate if you use Facebook app for more than
            <strong>10 minutes per day</strong>
            or if you open the app
            <strong>more than 5x</strong>
            per day. This vibration will NOT happen in the 1st week and the 3rd week but only during 2nd week.
          </p>

        </div>

        <div class="page-header">
          <h3>
            Uninstall apps
          </h3>
          <p>
            After the study, you should uninstall all the mobile apps you downloaded for this study as all apps
            may automatically stop working. To uninstall apps, go to your list of phone apps and uninstall these
            three apps:
          </p>
          <ul>
            <li>
              <em>Aware</em>
            </li>
            <li>
              <em>Beevibe</em>
            </li>
          </ul>
        </div>

        <div class="page-header">
          <h3>
            Contact
          </h3>
          <p>
            You may contact mechanical turk requester if you have any questions or concerns. Please make sure to
            carefully follow all instructions so you can be properly helped whenever you have a question.
          </p>
        </div>

        <br>
        <em>NB: We are not in any way affiliated to Facebook, Aware framework or FileManager mobile apps. We
          only use these apps primarily for conducting research experiments.
        </em>

      </div>

    </div>

  {% endblock %}
