{% extends "layout.html" %}

{% block title %}
  Mturk Facebook Experiment
{% endblock %}

{% block nav_brand %}
  <a class="navbar-brand" href="#">Facebook Usage Experiment</a>
{% endblock %}

{% block contents %}
  {% block nav_signin %}{% endblock %}

  <div class="container lg-font">
    <div class="page-header">
      <h3>
        Welcome to experiment
      </h3>
      <p>
        We are researchers in the
        <a href="http://smalldata.io/" target="_blank">Small Data Lab</a>
        at
        <a href="https://tech.cornell.edu" target="_blank">Cornell Tech</a>, which is part of
        <a href="https://cornell.edu" target="_blank">Cornell University</a>. This experiment investigates
        how facebook users use Facebook Mobile App on their smartphone. By participating in this experiment,
        you will be contributing to the growing body of scientific research on mobile computing and digital
        distractions.
      </p>
    </div>

    <div class="page-header">
      <h3>
        Your tasks
      </h3>
      <p>
        This experiment has two parts and it is very simple and straightforward:
        <ul>
          <li>
            PART A<strong>
              (10 - 15 minutes) / $1.00
            </strong>
          </li>
          <li>
            PART B (optional)<strong>
              (25 days) / $15.00 bonus payment (lottery for extra $5)</strong>.
            <br>
            <em class="small">
              *If you are approved in PART A then you'll automatically be enrolled in PART B. If you don't want to
              partake in PART B, simply uninstall app.*
            </em>
          </li>
        </ul>
      </p>
    </div>

    <div class="page-header">
      <h3>
        How to join
      </h3>

      {% include "partials/modals/mturk_consent.html" %}

      To join the study, you have to read the consent form.
      <a id="mturk-read-consent-btn">Click Here</a>
      to go through the consent form and select "I agree" if you want to continue. The next set of
      instructions will appear below after you agree to consent form.
    </div>

    <div id="join-div" style="display: none">

      <div class="page-header">
        <h3>PART A (follow carefully)</h3>
        <ol>
          <li>
            On your phone, download
            <a href="https://play.google.com/store/apps/details?id=org.mozilla.firefox&hl=en" target="_blank">firefox browser</a>
            from playstore (this will help install next app)
          </li>
          <br>

          <li>
            Open firefox and enter link to Beevibe app:
            <strong>

              <a href="http://bit.ly/2017bh">http://bit.ly/2017bh</a>
            </strong>
            then tap "Open" after app downloads.
          </li>
          <br>

          <li>
            Beevibe Installation page will show up so select “Next” then “Install” on the bottom right then
            finally “Open” to launch installed app.
          </li>
          <br>

          <li class="text-danger">
            If you get error "phone is not compatible" then you cannot participate in experiment because of
            phone issues. Please uninstall app.
          </li>
          <br>

          <li>
            If no error, Tap on “Request Permission” button and toggle “Beevibe” from “off” to “On”
          </li>
          <br>

          <li>
            Then press “back button” on your phone until you return back to “Beevibe” app.
          </li>
          <br>

          <li>
            Next, tap “Start Service” and look at your phone status bar (notification bar) and you should see
            “Recent usage stats: Facebook 0”
          </li>
          <br>

          <li>
            Do this
            <strong>three times (3x)</strong>
            to activate your code (do a,b then a,b and finally a,b):
            <ul>
              <li>
                (a) Open “facebook mobile app” and wait for 10 seconds then
              </li>
              <li>
                (b) Go back to “Beevibe” app and wait for 10 seconds
              </li>
              <li>
                (c) Then redo (a) then (b) then (a) and finally (b)
              </li>
            </ul>
          </li>
          <br>

          <li>
            If successful, your status bar message will change to “Successful!”.
          </li>
          <br>

          <li>
            Return back to Beevibe app and submit your Worker ID.
          </li>
          <br>

          <li>
            <strong>Your code</strong>
            will automatically appear together with
            <strong>survey link</strong>.
          </li>
          <br>

          <li>
            <h4>
              COMPLETE SURVEY AND SUBMIT YOUR CODE IN MTURK HIT.
            </h4>
          </li>
          <br>

          <li>
            PART A DONE!
            <br>
            <em>*you can uninstall firefox app now as it was only needed to install Beevibe app*</em>
          </li>

        </ol>
      </div>

      <div class="page-header">
        <h3>
          PART B (optional)
        </h3>

        <ol>
          <li>
            This is just running same app from part A. You can only partake if you are approved in PART A. If
            you are approved and decide to remain in experiment, you will receive an Mturk email within 3 days
            to confirm that you are now in PART B. If you don't want to remain in PART B simply uninstall app.
          </li>
          <br>

          <li>
            You have
            <strong>ONLY ONE TASK</strong>
            throughout PART B. The task is to make sure that
            <strong>facebook stats in status bar should always be on</strong>
            throughout the entire experiment because it means you are still actively enrolled.
          </li>
          <br>

          <li>
            If for any reason, the status notification stops showing, launch “Beevibe” app and tap “Start
            Service”. If no status then it means no payment.
          </li>
          <br>

          <li>
            On the 25th day, you will receive an Mturk email with surveys to complete. After completing the
            survey, you will be paid a bonus of $15.00 then you’ll be entered into a lottery to win an
            additional $5.00.
          </li>

        </ol>

      </div>

      <div class="page-header">
        <h3>
          Disqualification (with no payment)
        </h3>
        <p>
          You will be automatically removed from the experiment with no payment if:
        </p>

        <ul>
          <li>
            you don't complete surveys or your provide fake response to surveys.
          </li>
          <li>
            if you don't have experiment apps running throughout the duration of the entire study.
          </li>
          <li>
            your phone has issues and is not compatible with experiment.
          </li>
        </ul>
      </div>

      <div class="page-header">
        <h3>How to know if app is working</h3>
        Facebook stats will always show in your notification bar throughout the experiment. If it does not
        show up, open "Beevibe" app and click "Start Service". If it still doesn't show up then your phone
        is incompatible.
      </div>

      <div class="page-header">
        <h3>What our apps do?</h3>
        <ul>
          <li>
            The mobile apps you downloaded will monitor how long you use facebook app, how many times you open
            the app and when you lock or unlock your screen. The app does not and will never collect your
            personal info. No other information is collected on your phone except the ones stated here.
          </li>
          <li>
            Data collected will automatically be stored in our remote server for research analysis at the end of
            the experiment. This means you don't have to do anything manually.
          </li>
          <p>
            In the second week of the experiment, your phone may vibrate if you use Facebook app for more than
            10 minutes per day or if you open the app more than 5x per day. This vibration will not happen in
            the 1st week and the 3rd week but only during 2nd week.
          </p>
        </ul>
      </div>

      <div class="page-header">
        <h3>
          Contact
        </h3>
        <p>
          You may contact mechanical turk requester if you have any questions or concerns. Please make sure to
          carefully follow all instructions so you can be properly helped whenever you have a question.
        </p>
      </div>

      <br>
      <em>NB: We are not in any way affiliated to Facebook or FileManager mobile apps. We only use these
        apps primarily for conducting research experiments.
      </em>

    </div>

  {% endblock %}
