<div class="page-header">
  <h3>
    Who we are
  </h3>
  <p>
    We are researchers at
    <a href="http://www.washington.edu/" target="_blank">University of Washington</a>
    and at
    <a href="https://tech.cornell.edu" target="_blank">Cornell Tech</a>. The goal of this experiment is to collect feedback from users after watching some videos.
  </p>
</div>

<div class="page-header">
  <h3>
    Duration of experiment
  </h3>
  <p>
    This experiment will take about 15 minutes to complete.
  </p>
</div>

<div class="page-header">
  <h3>
    Compensation
  </h3>
  <p>
    You will be paid $1 at the end of the experiment.
  </p>
</div>
