<div class="page-header">
  <h3>
    Welcome to Research on Video Feedback
  </h3>
  <p>
    We are researchers at
    <a href="http://www.washington.edu/" target="_blank">University of Washington</a>
    and at
    <a href="https://tech.cornell.edu" target="_blank">Cornell Tech</a>. The goal of this experiment is to collect feedback from users after watching some videos.
  </p>
  <p>
    Please read carefully and follow all instructions.
  </p>
</div>

<div class="page-header">
  <h3>
    Experiment
  </h3>
  <p>
    This experiment will take about
    <strong>15 minutes</strong>
    to complete. You will be paid
    <strong>$1</strong>
    at the end of the experiment.
  </p>
</div>
