{% extends "layout.html" %}

{% block title %}
  Research on Video Feedback
{% endblock %}

{% block nav_brand %}
  <a class="navbar-brand" href="#">Research on Video Feedback</a>
{% endblock %}

{% block contents %}
  {% block nav_signin %}{% endblock %}

  <div class="container">
    <div class="page-header">
      <h3>
        Welcome to Research on Video Feedback
      </h3>
      <p>
        Please read carefully and follow all instructions.
      </p>
    </div>

    {% include "mturk/naf-begin-instructions.html" %}

    <div class="page-header">
      <h3>
        Your tasks
      </h3>

      <ul>
        <li>Complete one survey before watching some videos.</li>
        <li>Watch 3 videos</li>
        <li>Complete one survey after watching videos.</li>
        <li>That's it. All done!</li>
      </ul>
    </div>

    {% include "mturk/naf-how-to-join.html" %}

  {% endblock %}
