<div class="page-header">
  <h3>
    Your task (7 steps)
  </h3>
  <ul>
    <li>
      Watch 3 short video clips (3 steps)
    </li>
    <li>
      Answer questions after each video clip (3 steps)
    </li>
    <li>
      Complete short demography survey (1 step)
    </li>
    <li>
      After going through all 7 steps, a code will be generated.
      <strong>SUBMIT YOUR GENERATED CODE ON MTURK HIT.</strong>
    </li>
  </ul>
</div>

<div class="page-header">
  <h3>
    Disqualification (with no payment)
  </h3>
  <p>
    You will be automatically removed from the experiment with no payment if:
  </p>
  <ul>
    <li>
      you don't follow instructions
    </li>
    <li>
      you provide fake responses when answering questions
    </li>
  </ul>
</div>

{% include "partials/modals/naf_consent.html" %}

<div class="page-header">
  <h3>
    How to join
  </h3>

  To join the study, you have to read the consent form.
  <a id="naf-read-consent-btn">Click Here</a>
  to go through the consent form and select "I agree" if you decide to continue with experiment. Next
  set of instructions will appear below after you agree to join the experiment.

  <div id="naf-join-div" style="display: none">
    <br>
    #################################################################################
    <br>
    You have agreed to Consent Form. Follow steps to continue:
    <br>
    <strong>USE EARPHONES WHEN YOU WATCH THE VIDEOS AND WATCH IT IN FULLSCREEN MODE</strong>
    <br>
    #################################################################################

    {% include "mturk/naf-steps.html" %}

    <div class="page-header">
      <h3>
        Contact
      </h3>
      <p>
        You may contact mechanical turk requester if you have any questions or concerns. Please make sure to
        carefully follow all instructions so you can be properly helped whenever you have a question.
      </p>
    </div>

  </div>

</div>
