{% extends 'layout.html' %}

{% block title %}
  {{current_user.firstname + ' | Home'}}
{% endblock %}

{% block brand_name %}
Rescuetime + Beehive
{% endblock %}

{% block user_type %}
<em>
  rtime_user
</em>

{% endblock %}
{% block contents %}

  <div class="container">

    <div class="page-header">
      <h3>Welcome,
        {{rtime_user.firstname}}
      </h3>
    </div>


    <div>

      {% if not rtime_user.rescuetime_access_token %}
        <button type="submit" id="auth-rt-btn" class="btn btn-primary btn-lg btn-block">Connect RescueTime
        </button><br>

      {% else %}

          {% if rtime_user.code %}
              <label for="rtime-code">Update your experiment code:</label>
           {% else %}
              <label for="rtime-code">You need to enter your experiment code:</label>
           {%  endif %}
          <input
                  type="text"
                  id="id-rtime-code"
                  class="form-control"
                  value = "{{ rtime_user.code or ''}}"
                  placeholder="enter code here">
          <br>
          <button type="submit" id="btn-save-rtime-code" class="btn btn-primary">Submit</button>
          <br>
          <input
                  style="display: none"
                  type="text"
                  id="rtime_email_from_hidden_element"
                  value="{{ current_user.email }}"/>
          <div> <span id="rtime-code-status"></span> <div>
          <br>
          <br>

        <span class='text-primary'>
          <em>
            Rescuetime is connected.
          </em>
        </span>

      {% endif %}

    </div>

  </div>

{% endblock %}
