{% extends 'base.html' %}

{% block title %}
  Welcome
{% endblock %}

{% block extras %}
  <link href="{{ url_for('static', filename='css/cover.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

  <div class="background-image"></div>

  <div class="center-content">

    <div class="content">

      <h1 class="larger-text">RescueTime Study</h1>
      <p class="lead">
        <small>observe and understand your desktop digital habits</small>

      </p>

      <div class="btn-group" role="group">
        <button
          type="button"
          class="btn btn-lg btn-primary"
          name="login-btn"
          id="login-btn"
          alt="Participant Google Sign In"
          onclick="window.location.href='/login-rescuetime-user'">Google Sign In</button>
      </div>

    </div>

  </div>
{% endblock %}
