{% extends "layout.html" %}

{% block title %}
  RescueTime Admin Dashboard
{% endblock %}

{% block contents %}


  <div class="container">

    <div class="page-header">
      <h3>RescueTime Admin Dashboard:
        <br>
        <small>Total:
          {{ users | length }}
          user(s)
        </small>
        <br>

        <small class="info-text"> Date:
          {{ date }}
        </small>

      </h3>
      <br>
      <em>To sort by multiple columns, hold down shift key and select columns.</em>
    </div>

    <table class="table table-hover", id="stats-table">

      <thead>
        <tr class="info">
          <th>
            No
          </th>

          <th>
            Email
          </th>

          <th>
            Firstname
          </th>

          <th>
            Lastname
          </th>

          <th>
            Data
          </th>

        </tr>
      </thead>

      <tbody>
        {% for user in users %}
          <tr >

            <td >
              <h5>{{ loop.index }}</h5>
            </td>

            <td>
              <h5> {{ user.email }}</h5>
            </td>

            <td>
              <h5> {{ user.firstname }} </h5>
            </td>

            <td>
              <h5> {{ user.lastname }} </h5>
            </td>

            <td>

                <table class="table">
                   <thead>
                      <tr class="info">
                        <th> Rank </th>  <th> Time (seconds) </th>  <th>Activity </th>  <th> Category </th>  <th>Productivity </th>
                      </tr>
                   </thead>
                  {% for data in user.data %}
                       <tr> <td>{{ data[0] }} </td>  <td>{{ data[1] }} </td> <td>{{ data[3] }} </td>  <td>{{ data[4] }} </td> <td>{{ data[5] }} </td></tr>
                  {% endfor %}
                </table>

            </td>
          </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
