{% extends "layout.html" %}

{% block title %}
Dashboard Stats
{% endblock %}

{% block contents %}

<div class="container">

    <button
            type="button"
            class="btn btn-link btn-lg"
            onclick="window.location.href='/rescuetime/dash'">
        <span class=" text-muted"> </span>
        <span class="glyphicon glyphicon-dashboard info-text">  </span>
        <span class="info-text"> Show latest submission dashboard </span>
    </button>

    <div class="page-header">
        <h3>RescueTime Statistics
            <br>
            <small>Total:
                {{ users | length }} user(s)
            </small>
            <br>
        </h3>
        <br>

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="select-days">Select number of days:</label>
                    <select class="form-control selectpicker" data-style="info" id="select-days">
                        <option value=7>default</option>
                        <option value=7>1 week</option>
                        <option value=14>2 weeks</option>
                        <option value=21>3 weeks</option>
                        <option value=30>4 weeks</option>
                        <option value=45>5 weeks</option>
                    </select>
                </div>
            </div>
             <div class="col-sm-8">
             </div>
        </div>

         <em> Days:  </em>
        <strong>
                {{ dates | length }} days
        </strong>
        <br>
        <em> Dates in range: <span class="text-info"> <strong>{{dates[(dates | length) - 1]}} - {{dates[0]}} </strong> </span></em>
        <br>

        <div style="float: right;">
            {% if (dates | length) > 7 %}
            <em class="text-info"> Scroll right to view older dates</em>
            <span class="glyphicon glyphicon-arrow-right text-info">  </span>
            {% endif %}
        </div>
    </div>


    <div style="overflow-x:auto;">

        <table class="table table-hover" id="stats-table">

            <thead>
            <tr class="bg-primary">
                <th>
                    No
                </th>

                <th>
                    Email
                </th>

                <th>
                    Firstname
                </th>

                <th>
                    Lastname
                </th>

                {% for date in dates %}
                <th>
                    {{ date }}
                </th>
                {% endfor %}

            </tr>
            </thead>

            <tbody>
            {% for user in users %}
            <tr>
                <td class="info">
                    <h5>{{ loop.index }}</h5>
                </td>

                <td class="info">
                     <h5>{{ user.email }}</h5>
                </td>

                <td class="info">
                     <h5>{{ user.firstname }}</h5>
                </td>

                <td class="info">
                     <h5>{{ user.lastname }}</h5>
                </td>


                {% for day in user.days %}
                <td>
                    {% if day %}
                    <h3 class="text-success">
                        &#9752;
                    </h3>
                    {% else %}
                    <h3 class="text-danger">
                        &#x2717;
                    </h3>
                    {% endif %}
                </td>
                {% endfor %}

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
